<div class="content-box pt-2">
  <div class="container">
<div class="dashboard-box">
  <div class="row">
    <div class="col-6 col-lg-3">
      <div class="detail-box d-flex align-items-center justify-content-between px-3 py-4">
          <div class="title">Prospect Details</div>
          <mat-icon> list_alt</mat-icon>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="detail-box box-1 d-flex align-items-center justify-content-between px-3 py-4">
          <div class="title">Loan Details</div>
          <mat-icon> list_alt</mat-icon>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="detail-box box-2 d-flex align-items-center justify-content-between px-3 py-4">
          <div class="title">Individual Details</div>
          <mat-icon> list_alt</mat-icon>
      </div>
    </div>
    <div class="col-6 col-lg-3">
      <div class="detail-box  box-3 d-flex align-items-center justify-content-between px-3 py-4">
          <div class="title">Listing Page</div>
          <mat-icon> list_alt</mat-icon>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-8 dashboard-box h-200"></div>
    <div class="col-4 dashboard-box h-200"></div>
    <div class="col-4 dashboard-box h-200"></div>
    <div class="col-8 dashboard-box h-200"></div>
  </div>
</div>
</div>
</div>
