:host{
  width: 100%;
}

.content-box {
    width: calc(100% - 240px);
    margin-left: 240px;
    margin-top: 80px;
    height: 100%;
    .dashboard-box{
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
    .detail-box {
        border-radius: 10px;
        color: #fff;
        overflow: hidden;
        font-size: 25px;
        min-height: 80px;
        background-image: linear-gradient( 45deg , #4638c2,#321fdb,#2d2587,#1f1498);
    //     background-image: linear-gradient( 45deg , #4799eb,#39f,#4280b4,#2982cc);
    //     background-image: linear-gradient( 45deg ,#e1a82d,#f9b115,#dd9124,#f6960b);
    //     background-image: linear-gradient( 45deg , #d16767,#e55353,#c14f4f,#d93737);
    //     background-image: linear-gradient( 45deg , #7a70d2,#4b4487,#4c467f,#730ab8);
    //     background-image: linear-gradient( 45deg , #519668,#6fca8d,#53a76f,#7ec495);
    // }
    .title{
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        color: #fff;
    }
    &.box-1{
        background-image: linear-gradient( 45deg ,#e1a82d,#f9b115,#dd9124,#f6960b);
    }
    &.box-2{
        background-image: linear-gradient( 45deg , #d16767,#e55353,#c14f4f,#d93737);
    }
    &.box-3{
        background-image: linear-gradient( 45deg , #7a70d2,#4b4487,#4c467f,#730ab8);
    }
}
&.h-200{
    height: 200px;
}
}
}
