<div class="content-box pt-2">
  <div class="container">
    <div class="entity-create-box mb-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item d-flex align-items-center"><mat-icon
            class="me-2">home</mat-icon><a [routerLink]="['/admin/asset-master']" class="text-decoration-none">Entity Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Entity Create</li>
        </ol>
      </nav>
    </div>
    <div class="entity-create-box my-3">
      <form class="entity-create-form" [formGroup]="entityMasterForm">
        <caption class="d-flex">Entity
          Master</caption>
        <div class="row d-flex gy-2">
          <div class="col-12 col-lg-4">
            <label>Entity Code<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter The Entity Code" formControlName="entityCode" [readOnly]="true">
            <!-- <span class="massage-text"
              *ngIf="(entityMasterForm.get('entityCode')?.touched || isSubmitted) && entityMasterForm.get('entityCode')?.hasError('required')">
              Entity Code is
              required</span> -->
          </div>
          <div class="col-12 col-lg-4">
            <label>Entity Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter The Entity Name" formControlName="entityName">
            <span class="massage-text"  *ngIf="(entityMasterForm.get('entityName')?.touched || isSubmitted) && entityMasterForm.get('entityName')?.hasError('required')"> Entity Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Entity Type<span class="text-danger">*</span></label>
            <select class="form-select mt-2" formControlName="entityType">
              <option>Broker</option>
              <option>customer</option>
              <option>Dealer</option>
              <option>Debt collector</option>
              <option>DMA</option>
              <option>DSA</option>
              <option>Employee</option>
              <option>Field Investigation Agency</option>
              <option>Funder</option>
              <option>Garage</option>
              <option>Insurance Company</option>
              <option>Legal Consultants </option>
              <option></option>
            </select>
            <span class="massage-text"  *ngIf="(entityMasterForm.get('entityType')?.touched || isSubmitted) && entityMasterForm.get('entityType')?.hasError('required')">Entity Type is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>GST No<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter The GST Number" formControlName="gstNo">
            <span class="massage-text" *ngIf="(entityMasterForm.get('gstNo')?.touched || isSubmitted) && entityMasterForm.get('gstNo')?.hasError('required')"> GST No is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Address 1<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter The Address 1" formControlName="address1">
            <span class="massage-text"  *ngIf="(entityMasterForm.get('address1')?.touched || isSubmitted) && entityMasterForm.get('address1')?.hasError('required')"> Address 1 is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Address 2</label>
            <input type="text" class="form-control mt-2" placeholder="Enter The Address 2" formControlName="address2">
          </div>

          <div class="col-12 col-lg-4">
            <label>City<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter The City" formControlName="city">
            <span class="massage-text"  *ngIf="(entityMasterForm.get('city')?.touched || isSubmitted) && entityMasterForm.get('city')?.hasError('required')"> City Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>State<span class="text-danger">*</span></label>
            <select  class="form-select mt-2" formControlName="state">
              <option>Choose State</option>
              <option>Andaman and Nicobar Islands</option>
              <option>Andhra Pradesh</option>
              <option>Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chandigarh</option>
              <option>Chhattisgarh</option>
              <option>Dadra and Nagar Haveli</option>
              <option>Daman and Diu</option>
              <option>Delhi</option>
              <option>Goa </option>
              <option>Gujarat</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option>Jammu and Kashmir</option>
              <option>Jharkhand</option>
              <option>Karnataka</option>
            </select>
            <span class="massage-text"  *ngIf="(entityMasterForm.get('state')?.touched || isSubmitted) && entityMasterForm.get('state')?.hasError('required')">State is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Country<span class="text-danger">*</span></label>
            <select class="form-select mt-2" formControlName="country">
              <option>Country</option>
              <option>India</option>
            </select>
            <span class="massage-text"  *ngIf="(entityMasterForm.get('country')?.touched || isSubmitted) && entityMasterForm.get('country')?.hasError('required')">Country is required</span>
          </div>

          <div class="col-12 col-lg-4">
            <label>Pincode<span class="text-danger">*</span></label>
            <input type="tel" class="form-control mt-2" placeholder="Enter The Pincode" formControlName="pincode" maxlength="6">
            <span class="massage-text"  *ngIf="(entityMasterForm.get('pincode')?.touched || isSubmitted) && entityMasterForm.get('pincode')?.hasError('required')"> Pincode is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Telephone No</label>
            <input type="tel" class="form-control mt-2" placeholder="Enter The Telephone Number" formControlName="telephoneNumber">
          </div>
          <div class="col-12 col-lg-4">
            <label>Mobile<span class="text-danger">*</span></label>
            <input type="tel" class="form-control mt-2" placeholder="Enter The Mobile Number" formControlName="mobileNumber" maxlength="10">
            <span class="massage-text" *ngIf="(entityMasterForm.get('mobileNumber')?.touched || isSubmitted) && entityMasterForm.get('mobileNumber')?.hasError('required')"> Mobile No is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Email ID<span class="text-danger">*</span></label>
            <input type="email" class="form-control mt-2" placeholder="Enter the Email" formControlName="emailId">
            <span class="massage-text" *ngIf="(entityMasterForm.get('emailId')?.touched || isSubmitted) && entityMasterForm.get('emailId')?.hasError('required')"> Email is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Website</label>
            <input type="url" class="form-control mt-2" placeholder="Enter The Website Name" formControlName="website">
           </div>
          <div class="col-12 col-lg-4">
            <label>PAN Number</label>
            <input type="text" class="form-control mt-2" placeholder="Enter The PAN Number" formControlName="panNumber">
          </div>
        </div>
      </form>
    </div>

    <div class="entity-create-box my-3">
      <form class="entity-create-form" [formGroup]="bankDetailsForm">
        <caption class="d-flex">Bank
          Details</caption>
        <div class="row d-flex gy-2">
          <div class="col-12 col-lg-4">
            <label>Account Type<span class="text-danger">*</span></label>
            <select  class="form-select mt-2" formControlName="accountType">
              <option>--Select--</option>
              <option>CC ACCOUNT</option>
              <option>SAVING ACCOUNT</option>
              <option>CURRENT ACCOUNT</option>
              <option>TEST</option>
              <option>OTHERS</option>
            </select>
            <span class="massage-text" *ngIf="(bankDetailsForm.get('accountType')?.touched || isSubmitted) && bankDetailsForm.get('accountType')?.hasError('required')">Account Type is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Account Number<span class="text-danger">*</span></label>
            <input type="number" class="form-control mt-2" placeholder="Enter the Account Number" formControlName="accountNumber">
            <span class="massage-text" *ngIf="(bankDetailsForm.get('accountNumber')?.touched || isSubmitted) && bankDetailsForm.get('accountNumber')?.hasError('required')"> Account Number is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>IFSC Code<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter IFSC Code" formControlName="ifscCode">
            <span class="massage-text" *ngIf="(bankDetailsForm.get('ifscCode')?.touched || isSubmitted) && bankDetailsForm.get('ifscCode')?.hasError('required')"> IFSC Code is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Bank Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter Bank Name" formControlName="bankName">
            <span class="massage-text" *ngIf="(bankDetailsForm.get('bankName')?.touched || isSubmitted) && bankDetailsForm.get('bankName')?.hasError('required')"> Bank Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Branch Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control mt-2" placeholder="Enter Branch Name" formControlName="branchName">
            <span class="massage-text" *ngIf="(bankDetailsForm.get('branchName')?.touched || isSubmitted) && bankDetailsForm.get('branchName')?.hasError('required')"> Branch Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4 d-flex flex-column">
            <label>Bank Address<span class="text-danger">*</span></label>
            <textarea rows="4" class="mt-2" placeholder="Enter Bank Address" formControlName="bankAddress"></textarea>
            <span class="massage-text" *ngIf="(bankDetailsForm.get('bankAddress')?.touched || isSubmitted) && bankDetailsForm.get('bankAddress')?.hasError('required')" >Bank Address is required</span>
          </div>
          <div class="col-6 d-flex align-items-center mt-3">
            <label class="fs-5">Active</label>
            <input type="checkbox" class="ms-2" style="width:25px; height:25px; " formControlName="activeStatus">
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <button class="option-button d-flex align-items-center px-4">
              Add
            </button>
          </div>

        </div>

      </form>
    </div>
    <div class="d-flex align-items-center justify-content-end flex-wrap gap-3 my-4">
      <button class="option-button d-flex align-items-center px-4" (click)="save()">
        Save
      </button>
      <button class="option-button d-flex align-items-center px-4" (click)="back()">
        Back
      </button>
    </div>


  </div>
</div>
