<div class="content-box pt-2">
  <div class="container">
    <div class="document-master-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none">Document-master</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Document-create
          </li>
        </ol>
      </nav>
    </div>
    <div class="document-master-box my-3">
      <form class="document-master-form" [formGroup]="documentCreateForm">
        <caption class="d-flex" >
          Document Master
        </caption>
        <div class="row my-3">
          <div class="col-12 col-md-4">
            <label>Category Description</label>
            <input type="text" class="form-control mt-2" placeholder="Enter Category Description" formControlName="categoryDescription" />
            <span class="massage-text"  *ngIf="documentCreateForm.get('categoryDescription')?.touched && documentCreateForm.get('categoryDescription')?.hasError('required')"> Category Description is required</span>
          </div>
        </div>
      </form>

      <table class="table table-bordered rounded document-master-table">
        <thead>
          <tr>
            <th class="col">Document Type</th>
            <th class="col">Identity Number</th>
            <th class="col">Mandatory</th>
            <th class="col">Last Program</th>
            <th class="col text-center">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <select class="form-select mt-2" required>
                <option>--Select--</option>
                <option>Bank Statments</option>
                <option>Driving License</option>
                <option>PaySlip</option>
              </select>
            </td>
            <td>
              <div class="d-flex align-items-center h-100" style="min-height:60px;">
                <input type="checkbox" style="width:20px; height:20px;" />
              </div>
            </td>
            <td>
              <div class="d-flex align-items-center h-100" style="min-height:60px;"><input type="checkbox"
                  style="width:20px; height:20px;" /></div>
            </td>
            <td>
              <select class="form-select mt-2" required>
                <option>--Select--</option>
                <option>Bank Statments</option>
                <option>Driving License</option>
                <option>PaySlip</option>
              </select>
            </td>
            <td>
              <div class="d-flex align-items-center h-100  justify-content-center" style="min-height:60px;">
            <td><mat-icon>add_box</mat-icon><mat-icon>delete</mat-icon>
    </div>
    </td>

    </tbody>
    </table>
    <div class="d-flex align-items-center flex-wrap gap-3 my-4">
      <button class="option-button d-flex align-items-center px-4">
        Save
      </button>
      <button class="option-button d-flex align-items-center px-4">
        Clear
      </button>
      <button class="option-button d-flex align-items-center px-4">
        Cancel
      </button>
    </div>
  </div>
</div>
</div>
