<div class="content-box pt-2">
  <div class="container">
    <div class="company-master-box my-3">
      <form class="company-master-form">
        <caption class="d-flex">
          Company Master
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Company Code</label>
            <input
              type="number"
              class="form-control mt-2"
            />
            <span class="massage-text" ngClass> Company Code is required</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Company Name</label>
            <input
              type="number"
              class="form-control mt-2"
            />
            <span class="massage-text" ngClass>Company Name is required</span>
          </div>
          <div class="col-12  col-md-4 d-flex flex-column gap-1">
            <label>Constitutional Status</label>
            <input
              type="text"
              class="form-control mt-2"
            />
            <span class="massage-text">Constitutional Status is required</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>City</label>
            <input
              type="text"
              class="form-control mt-2"
            />
            <span class="massage-text">City is required</span>
          </div>
          <div class="col-12  col-md-4 d-flex flex-column gap-1">
            <label>State</label>
            <input
              type="text"
              class="form-control mt-2"
            />
            <span class="massage-text">State is required</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Country</label>
            <input
              type="text"
              class="form-control mt-2"
            />
            <span class="massage-text">Country is required</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>PIN Code/ZIP Code</label>
            <input
              type="text"
              class="form-control mt-2"
            />
            <span class="massage-text">PIN Code/ZIP Code is required</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Company Address</label>
            <textarea rows="4"></textarea>
            <span class="massage-text">Company Address is required</span>
          </div>
        </div>
      </form>
    </div>
    <div class="company-master-box my-3">
        <form class="company-master-form">
          <caption class="d-flex">
            Corporate 
            Details
          </caption>
          <div class="row d-flex">
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>CEO/Head Name
            </label>
              <input
                type="text"
                class="form-control mt-2"
              />
              <span class="massage-text" ngClass> CEO/Head Name
                is required</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>Mobile Number</label>
              <input
                type="number"
                class="form-control mt-2"
              />
              <span class="massage-text" ngClass>Mobile Number is required</span>
            </div>
            <div class="col-12  col-md-4 d-flex flex-column gap-1">
              <label>Telephone Number</label>
              <input
                type="number"
                class="form-control mt-2"
              />
              <span class="massage-text">Telephone Number is required</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>Email Id</label>
              <input
                type="email"
                class="form-control mt-2"
              />
              <span class="massage-text">Email  is required</span>
            </div>
            <div class="col-12  col-md-4 d-flex flex-column gap-1">
              <label>Website</label>
              <input
                type="text"
                class="form-control mt-2"
              />
              <span class="massage-text">Website is required</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>System Admin User Code</label>
              <input
                type="text"
                class="form-control mt-2"
              />
              <span class="massage-text">System Admin User Code is required</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>System Admin User Password</label>
              <input
                type="text"
                class="form-control mt-2"
              />
              <span class="massage-text">PIN Code/ZIP Code is required</span>
            </div>
           
          </div>
        </form>
      </div>
      <div class="company-master-box my-3">
        <form class="company-master-form">
          <caption class="d-flex">
            Other 
            Details
          </caption>
          <div class="row d-flex">
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>Communication Address
            </label>
              <input
                type="text"
                class="form-control mt-2"
              />
              <span class="massage-text" ngClass> Communication Address
                is required</span>
            </div>
            <div class="col-12 col-md-4 d-flex flex-column gap-1">
              <label>Address 1</label>
              <input
                type="number"
                class="form-control mt-2"
              />
              <span class="massage-text" ngClass>Address 1 is required</span>
            </div>
            <div class="col-12  col-md-4 d-flex flex-column gap-1">
              <label>City</label>
              <input
                type="text"
                class="form-control mt-2"
              />
              <span class="massage-text">City is required</span>
            </div>
          </div>
        </form>
      </div>
  </div>
</div>
