<div class="content-box pt-2">
  <div class="container">
    <div class="tab-box d-flex align-items-center gap-2 my-3">
      <mat-icon>home</mat-icon><mat-icon>keyboard_arrow_right</mat-icon>Lead
      Generation
    </div>
    <div class="d-flex align-items-center gap-3">
      <button class="option-button d-flex align-items-center">
        Prospect-Details
      </button>
      <button class="option-button d-flex align-items-center">
        Loan-details
      </button>
      <button class="option-button d-flex align-items-center">
        Individual
      </button>
      <button class="option-button d-flex align-items-center">
        Non Individual
      </button>
      <button class="option-button d-flex align-items-center">
        Gurantor 1
      </button>
      <button class="option-button d-flex align-items-center">
        Gurantor 2
      </button>
    </div>
    <div class="prospect-details-box my-3">
      <form class="prospect-details-form">
          <caption class="d-flex">Loan Details</caption>
          <div class="row d-flex ">
            <div class="col-12 col-md-4">
              <label>Lead Number</label>
              <input type="number" class="form-control my-2"  >
              <span class="massage-text">Lead Number is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label>Line Of Business</label>
              <input type="text" class="form-control my-2" >
              <span class="massage-text">Line Of Business is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Tenure Type</label>
              <input type="text" class="form-control my-2">
              <span class="massage-text">Tenur Type is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Leave Period</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Leave Period is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Finance Amount</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Finance Amount is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Rate</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Rate is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Tenure</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Tenure is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label >Repement Frequency</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Repement Frequency is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label >Document Category</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Document Category is required</span>
            </div>
          
          </div>
    
        </form>
     </div>
     <div class="prospect-details-box my-3">
      <form class="prospect-details-form">
          <caption class="d-flex">Asset Details</caption>
          <div class="row d-flex ">
            <div class="col-12 col-md-4">
              <label>Asset Class</label>
              <input type="number" class="form-control my-2"  >
              <span class="massage-text">Asset Class is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label>Asset Model</label>
              <input type="text" class="form-control my-2" >
              <span class="massage-text">Asset Model is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Chassis Number</label>
              <input type="text" class="form-control my-2">
              <span class="massage-text">Chassis Number is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label  >Model</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Model is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label >Fuel Type</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Fuel Type is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label>Asset Name</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Asset Name is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label>Vehicle Number</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Vehicle Number is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label >Serial Number</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Serial Number is required</span>
            </div>
            <div class="col-12 col-md-4">
              <label >Vehicale Type</label>
              <input type="text" class="form-control my-2" placeholder="Password">
              <span class="massage-text">Vehicale Type is required</span>
            </div>
          
          </div>
    
        </form>
     </div>
  </div>
</div>
