
<div class="content-box pt-2">
  <div class="container">
    <div class="individual-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none">Lead Generation</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            individual Details
          </li>
        </ol>
      </nav>
    </div>
    <div class="individual-details-box my-3">
      <form class="individual-details-form">
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Lead Number</label>
            <input
              placeholder="Enter Lead Number"
              type="number"
              class="form-control my-2"
              formControlName="leadnumber"
            />

            <span class="massage-text">Lead Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Vehicle Number</label>
            <input
              placeholder="Enter Vehicle Number"
              type="number"
              class="form-control my-2"
              formControlName="vehicleNumber"
            />

            <span class="massage-text">Vehicle Number is required</span>
          </div>
        </div>
      </form>
    </div>
    <div class="individual-details-box my-3">
      <form class="individual-details-form">
        <caption>
          Individual Details
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Father Name</label>
            <input
              placeholder="Enter the Father Name "
              type="text"
              class="form-control my-2"
              required
            />

            <span class="massage-text">Father Name is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Mother Name</label>
            <input
              placeholder="Enter the Mother  Name "
              type="text"
              class="form-control my-2"
              required
            />

            <span class="massage-text">Mother Name is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Marital Status</label>
            <select class="form-select mt-2" required>
              <option>--Select--</option>
              <option>Single</option>
              <option>Married</option>
              <option>Divorced</option>
              <option>Seperated</option>
              <option>Widowed</option>
            </select>
            <span class="massage-text">Marital Status is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Employment</label>
            <select class="form-select mt-2" required>
              <option>--Select--</option>
              <option>Government Sector</option>
              <option>Public Sector</option>
              <option>Private Sector</option>
              <option>Business</option>
              <option>Former</option>
              <option>Others</option>
              <option>None</option>
            </select>
            <span class="massage-text">Employment is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Net Salary</label>
            <input
              placeholder="Enter the Amount"
              type="number"
              class="form-control my-2"
              formControlName="Tenure"
            />

            <span class="massage-text">Net Salary is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>No of adult dependents</label>
            <input
              placeholder="Enter the Count "
              type="text"
              class="form-control my-2"
              required
            />

            <span class="massage-text">No of adult dependents is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>No of Child dependents </label>
            <input
              placeholder="Enter the Count"
              type="text"
              class="form-control my-2"
              required
            />
          </div>

          <div class="col-12 col-md-4">
            <label>House Type</label>
            <select class="form-select mt-2" required>
              <option>--Select--</option>
              <option>Flat</option>
              <option>vila</option>
            </select>
            <span class="massage-text">Field Executive is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Floor Number /Flat Number* </label>
            <input
              placeholder="EX:Old no/new no"
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <label>House Status</label>
            <select class="form-select mt-2" required>
              <option>--Select--</option>
              <option>Own</option>
              <option>Lease</option>
              <option>Rental</option>
            </select>
            <span class="massage-text">House Status is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Rental / Lease Amount</label>
            <input
              placeholder="Enter the Amount"
              type="text"
              class="form-control my-2"
            />
            <span class="massage-text">Amount is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Owned 2 Wheeler</label>
            <input
              placeholder="Enter the count "
              type="number"
              class="form-control my-2"
              required
            />

            <span class="massage-text"
              >Owned 2 Wheeler details is required</span
            >
          </div>
          <div class="col-12 col-md-4">
            <label>Owned 4 Wheeler</label>
            <input
              placeholder="Enter the count "
              type="number"
              class="form-control my-2"
              required
            />

            <span class="massage-text"
              >Owned 4 Wheeler details is required</span
            >
          </div>
          <div class="col-12 col-md-4">
            <label>Owned Heavy Vehicles</label>
            <input
              placeholder="Enter the count "
              type="number"
              class="form-control my-2"
              required
            />

            <span class="massage-text"
              >Owned Heavy Vehicles details is required</span
            >
          </div>
          <div class="col-12 col-md-4">
            <label>Existing Loan in Alive</label>
            <input
              placeholder="Enter the count "
              type="number"
              class="form-control my-2"
              required
            />

            <span class="massage-text"
              >Existing Loan in Alive details is required</span
            >
          </div>
          <div class="col-12 col-md-4">
            <label>Total Existing Loans Monthly EMI</label>
            <input
              placeholder="Enter the Amount "
              type="number"
              class="form-control my-2"
              required
            />

            <span class="massage-text"
              >Total Existing Loans Monthly EMI details is required</span
            >
          </div>
        </div>
      </form>
      <div
        class="d-flex align-items-center justify-content-end flex-wrap gap-3 pt-4"
      >
      <button class="option-button d-flex align-items-center">Back</button>
        <button class="option-button d-flex align-items-center">Submit</button>

      </div>
    </div>
  </div>
</div>
