<div class="content-box pt-2">
  <div class="container">
    <mat-tab-group
      (selectedTabChange)="onTabChanged($event)"
      [selectedIndex]="selectedTab"
    >
      <mat-tab label="Prospect Details" [disabled]="!this.buttonDisabled">
        <div class="lead-prospect-details-box">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item d-flex align-items-center">
                <a
                [routerLink]="['/fos/lead-generation']"
                  class="text-decoration-none d-flex align-items-center"
                  ><mat-icon class="me-2">home</mat-icon>Lead Generation</a
                >
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Prospect Details
              </li>
            </ol>
          </nav>
        </div>
        <div class="lead-prospect-details-box my-3">
          <form
            class="lead-prospect-details-form"
            [formGroup]="prospectSearchForm"
          >
            <div class="row d-flex">
              <div class="col-12 col-lg-4">
                <label>Mobile Number<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter Mobile Number"
                  type="text"
                  class="form-control mt-1"
                  formControlName="mobileNumber"
                  oninput="this.value = this.value.slice(0,10)" 
                />
                <span
                  class="massage-text"
                  *ngIf="
                    (prospectSearchForm.get('mobileNumber')?.touched ||
                      saveDetails) &&
                    prospectSearchForm.get('mobileNumber')?.hasError('required')
                  "
                  >Mobile Number is required</span
                >
              </div>
              <div class="col-12 col-lg-4">
                <label>Aadhar Number<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter Aadhar Number"
                  type="text"
                  class="form-control mt-1"
                  formControlName="aadharNumber"
                  oninput="this.value = this.value.slice(0,12)"
                />
                <span
                  class="massage-text"
                  *ngIf="
                    (prospectSearchForm.get('aadharNumber')?.touched ||
                      saveDetails) &&
                    prospectSearchForm.get('aadharNumber')?.hasError('required')
                  "
                  >Aadhar Number is required</span
                >
              </div>
              <div class="col-12 col-lg-4">
                <label>PAN Number<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter PAN Number"
                  type="text"
                  class="form-control mt-1"
                  formControlName="panNumber"
                  oninput="this.value = this.value.slice(0,10)"
                />
                <span
                  class="massage-text"
                  *ngIf="
                    (prospectSearchForm.get('panNumber')?.touched ||
                      saveDetails) &&
                    prospectSearchForm.get('panNumber')?.hasError('required')
                  "
                  >PAN Number is required</span
                >
              </div>
              <div class="note" *ngIf="prospectSearchForm.errors?.['aadharOrPanRequired'] && prospectSearchForm.touched">
                <span>*Any two fields required with Mobile Number as mandatory</span>
              </div>
            </div>
          </form>
          <div class="d-flex align-items-center flex-wrap gap-3 pt-4">
            <button
              class="option-button d-flex align-items-center"
              [disabled]="buttonDisabled"
              (click)="searchProspect()"
            >
              Go
            </button>
          </div>
        </div>
        <div class="lead-prospect-details-box my-3">
          <form
            class="lead-prospect-details-form"
            [formGroup]="leadGenerationForm"
          >
            <div class="row d-flex">
              <div class="col-12 col-lg-4">
                <label>Branch<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter The Branch"
                  type="text"
                  class="form-control mt-1"
                  formControlName="branch"
                />
                <span
                  class="massage-text"
                  *ngIf="
                    (leadGenerationForm.get('branch')?.touched ||
                      isSubmitted) &&
                    leadGenerationForm.get('branch')?.hasError('required')
                  "
                  >Branch is required</span
                >
              </div>
              <div class="col-12 col-lg-4">
                <label>Lead Number</label>
                <input
                  placeholder="Enter The Lead Number"
                  type="text"
                  class="form-control mt-1"
                  formControlName="leadNumber"
                  [readonly]="true"
                />
              </div>
              <div class="col-12 col-lg-4">
                <label>Lead Date</label>
                <input
                  placeholder="Enter The Lead Date"
                  type="date"
                  class="form-control mt-1"
                  formControlName="leadDate"
                  [min]="today"
                  [max]="today"
                />
              </div>
              <div class="col-12 col-lg-4">
                <label>Lead Type</label>
                <select
                  formControlName="leadType"
                  class="form-select mt-2 mb-1"
                  name="leadType"
                >
                  <option value="" disabled>Choose Lead Type</option>
                  <option
                    *ngFor="let c of leadTypeLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-lg-4">
                <label>Prospect Name</label>
                <input
                  placeholder="Enter The Prospect Name"
                  type="text"
                  class="form-control mt-1"
                  formControlName="prospectName"
                />
              </div>
              <div class="col-12 col-lg-4">
                <label>Vehicle Number<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter The Vehicle Number"
                  type="text"
                  class="form-control mt-1"
                  formControlName="vehicleNumber"
                />
                <span
                  class="massage-text"
                  *ngIf="
                    (leadGenerationForm.get('vehicleNumber')?.touched ||
                      isSubmitted) &&
                    leadGenerationForm
                      .get('vehicleNumber')
                      ?.hasError('required')
                  "
                  >Vehicle Number is required</span
                >
              </div>
              <div class="col-12 col-lg-4">
                <label>Prospect Address</label>
                <textarea
                  rows="4"
                  placeholder="Enter The Prospect Address"
                  class="form-control mt-1"
                  formControlName="prospectAddress"
                ></textarea>
              </div>
              <div class="col-12 col-lg-4">
                <label>Prospect Type</label>
                <input
                  placeholder="Enter The Prospect Type"
                  type="text"
                  class="form-control mt-1"
                  formControlName="prospectType"
                />
              </div>
            </div>
          </form>
          <div class="d-flex align-items-center flex-wrap gap-3 pt-4">
            <button
              class="option-button d-flex align-items-center"
              [disabled]="buttonDisabled"
              (click)="generateLead()"
            >
              Generate Lead
            </button>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Loan Details" [disabled]="!this.buttonDisabled">
      </mat-tab>
      <mat-tab label="Individual" [disabled]="!this.buttonDisabled"> </mat-tab>
      <mat-tab label="Guarantor 1" [disabled]="!this.buttonDisabled"></mat-tab>
      <mat-tab label="Guarantor 2" [disabled]="!this.buttonDisabled"> </mat-tab>
    </mat-tab-group>
  </div>
</div>
