<div class="content-box pt-2">
  <div class="container">
    <div class="lead-prospect-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Lead Generation</a></li>
          <li class="breadcrumb-item active" aria-current="page">Prospect Details</li>
        </ol>
      </nav>
    </div>
    <div class="lead-prospect-details-box my-3">
      <form class="lead-prospect-details-form">
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Lead Number</label>
            <input
            placeholder="Enter Lead Number"
              type="number"
              class="form-control my-2"
              formControlName="leadnumber"
            />

            <span class="massage-text">Lead Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Vehicle Number</label>
            <input
            placeholder="Enter Vehicle Number"
              type="number"
              class="form-control my-2"
              formControlName="vehicleNumber"
            />

            <span class="massage-text">Vehicle Number is required</span>
          </div>

        </div>
      </form>

    </div>
    <div class="lead-prospect-details-box my-3">
      <form class="lead-prospect-details-form">
      <caption>Loan
        Details</caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Line Of Business</label>
                <select class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Hyponthication</option>
                  </select>
                <span class="massage-text">Line Of Business is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Finance Amount</label>
            <input
            placeholder="Enter the Finance Amoun"
              type="number"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Finance Amount is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Tenure</label>
            <input
            placeholder="Enter the Tenure"
              type="number"
              class="form-control my-2"
              formControlName="Tenure"
            />

            <span class="massage-text">Tenure is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Tenure Type</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Month</option>
                  </select>
                <span class="massage-text">Tenure Type is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Rate</label>
            <input
            placeholder="Enter the Rate "
              type="number"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Rate is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Repayment Frequency</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Monthly</option>
                    <option>Quaterly</option>
                    <option>yearly</option>
                    <option>Annually</option>
                  </select>
                <span class="massage-text">Repayment Frequency is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Leave Period</label>
            <input
            placeholder="Enter the Leave Period"
              type="text"
              class="form-control my-2"
              formControlName="Tenure"
            />

            <span class="massage-text">Leave Period is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Field Executive</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                  </select>
                <span class="massage-text">Field Executive is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Document Category</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                  </select>
                <span class="massage-text">Document Category is required</span>
          </div>

        </div>
      </form>

    </div>
    <div class="lead-prospect-details-box my-3">
      <form class="lead-prospect-details-form">
      <caption>Asset
        Details</caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Asset Class</label>
                <select class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Private</option>
                    <option>Swift Car</option>
                  </select>
                <span class="massage-text">Asset Class is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Asset Name</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Ashok Laylend</option>
                  </select>
                <span class="massage-text">Asset Name is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Asset Type</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Car</option>
                    <option>Load/Goods</option>
                  </select>
                <span class="massage-text">Asset Type is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Asset Model</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Swift</option>
                    <option>Wagon</option>
                  </select>
                <span class="massage-text">Asset Model is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Vehicle Number</label>
            <input
            placeholder="Enter the Vehicle Number "
              type="number"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Vehicle Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Engine Number</label>
            <input
            placeholder="Enter the Engine Number "
              type="number"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Engine Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Chassis Number</label>
            <input
            placeholder="Enter the Chassis Number "
              type="number"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Chassis Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Serial Number</label>
            <input
            placeholder="Enter the Serial Number "
              type="number"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Serial Number is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Ownership</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>First</option>
                    <option>Secound</option>
                    <option>Third</option>

                  </select>
                <span class="massage-text">Ownership is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Model</label>
            <input
            placeholder="Enter the Model "
              type="text"
              class="form-control my-2"

              required
            />

            <span class="massage-text">Model is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Vehicle Type</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Own</option>
                  </select>
                <span class="massage-text">Vehicle Type is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Tax Type</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Life Time</option>
                  </select>
                <span class="massage-text">Tax Type is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Fuel Type*</label>
                <select  class="form-select mt-2" required>
                    <option>--Select--</option>
                    <option>Gas</option>
                    <option>Petrol</option>
                  </select>
                <span class="massage-text">Fuel Type is required</span>
          </div>

        </div>
      </form>
      <div class="d-flex align-items-center flex-wrap gap-3 pt-4">
        <button class="option-button d-flex align-items-center">
          Submit
        </button>

      </div>
    </div>


  </div>
</div>
