<div class="content-box pt-2">
  <div class="container">
  <div class="asset-master-box">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item d-flex align-items-center" aria-current="page"><mat-icon class="me-2">home</mat-icon>Asset-master</li>
      </ol>
      </nav>
  </div>
    <div class="asset-master-box my-3">
      <form class="asset-master-form" [formGroup]="assetMasterForm" >
        <caption class="d-flex">
          Asset
          Master
        </caption>
        <div class="row my-3">
          <div class="col-12 col-lg-4">
            <label>Asset Category Type</label>
            <select formControlName="assetCategoryType" class="form-select mt-2">
              <option>--select--</option>
              <option>CLASS</option>
              <option>MAKE</option>
              <option>TYPE</option>
              <option>MODEL</option>
            </select>
            <span class="massage-text" *ngIf="(assetMasterForm.get('assetCategoryType')?.touched || isSubmitted) && assetMasterForm.get('assetCategoryType')?.hasError('required')">User Group is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Asset Code Description</label>
            <input type="text" class="form-control mt-2" placeholder="Enter Asset Code Description" formControlName="assetCodeDescription"/>
          </div>
        </div>
      </form>
      <div class="d-flex align-items-center flex-wrap gap-3 my-4">
        <button class="option-button d-flex align-items-center px-4" (click)="search()">
          Search
        </button>
        <button class="option-button d-flex align-items-center px-4">
          Clear
        </button>
        <button class="option-button d-flex align-items-center px-4">
          Create
        </button>
      </div>
      <table class="table table-bordered rounded asset-master-table ">
        <thead>
          <tr>
            <th class="col">Category Code</th>
            <th class="col">Category Description</th>
            <th class="col">Category Type</th>
            <th class="col">View</th>
            <th class="col">Modify</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>C2	</td>
            <td>BMW</td>
            <td>CLASS</td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <td>C1</td>
            <td>SWIFTCAR</td>
            <td>CLASS</td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <td>LOD</td>
            <td>LOAD / GOODS</td>
            <td>TYPE</td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <td>CAR</td>
            <td>CAR</td>
            <td>TYPE</td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <td>WAG</td>
            <td>WAGON</td>
            <td>MODEL</td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
