:host {
  width: 100%;
}


  .content-box {
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-top: 80px;

    // height: 100vh;
    .option-button {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--button-text-color);
      background: var(--background-button);
      border: unset;
      padding: 5px 10px;
    }

    .asset-master-box {
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 10px;
      .breadcrumb{
        li{
          color:var(--text-color);
      }
      }
      .asset-master-form {

        caption {
            font-size: 20px;
            color: var(--text-bold-color);
            padding-top: 0;
            line-height: 28px;
            font-weight: 600;
        }

        label,
        input {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color:var(--text-color);
            &:focus {
                box-shadow: unset;
            }
        }

        input {
            border: 1px solid var(--input-border);
            background-color:var(--input-background);
            border-radius: 5px;
            color:var(--text-dark);
        }

        select {
          border: 1px solid var(--input-border);
          background-color:var(--input-background);
            border-radius: 5px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color:var(--text-dark);

            option {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
            }

            &:focus {
                box-shadow: unset;
            }
        }


        .massage-text {
            color: #f7811e;
            font-size: 12px;
            line-height: 18px;
            font-weight: 400;
            margin-bottom: 15px;
            display: inline-block;
        }



    }

      .asset-master-table {
        thead {
          tr {
            th {
              background-color:var(--table-header-background);
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              color: var( --header-text-color);
            }
          }
        }
        tr {
          td{
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color:var(--text-dark);
          }
        }

      }
    }
  }

  @media only screen and (max-width: 992px) {
    .content-box {
      width: 100%;
      margin-left: 0;
      margin-top: 80px;
      .asset-master-box{
        overflow: scroll;
        .asset-master-table {
          thead {

            tr {
              th {
                font-size: 12px;
                line-height: 18px;
              }
            }
          }
          thead {
            td{
              font-size: 12px;
              line-height: 18px;
            }
          }

        }
      }
    }
  }
