<div class="content-box pt-2">
  <div class="container">
    <div class="tab-box d-flex align-items-center gap-2 my-3">
      <mat-icon>home</mat-icon><mat-icon>keyboard_arrow_right</mat-icon>Lead
      Generation
    </div>
    <div class="d-flex align-items-center flex-wrap gap-3">
      <button class="option-button d-flex align-items-center">
        Prospect-Details
      </button>
      <button class="option-button d-flex align-items-center">
        Loan-details
      </button>
      <button class="option-button d-flex align-items-center">
        Individual
      </button>
      <button class="option-button d-flex align-items-center">
        Non Individual
      </button>
      <button class="option-button d-flex align-items-center">
        Guarantor 1
      </button>
      <button class="option-button d-flex align-items-center">
        Guarantor 2
      </button>
    </div>
    <div class="loan-details-box my-3">
      <form class="loan-details-form" [formGroup]="loanDetailsForm">
        <caption class="d-flex">
          Loan Details
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-lg-4">
            <label>Lead Number</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="leadNumber"
            />
            <div
              *ngIf="loanDetailsForm.get('leadNumber')?.touched || isSubmitted"
            >
              <span
                class="massage-text"
                *ngIf="loanDetailsForm.get('leadNumber')?.hasError('required')"
                >Lead Number is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Line Of Business</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="lineOfBusiness"
            />
            <div
              *ngIf="
                loanDetailsForm.get('lineOfBusiness')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  loanDetailsForm.get('lineOfBusiness')?.hasError('required')
                "
                >Line Of Business is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Tenure Type</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="tenureType"
            />
            <div
              *ngIf="loanDetailsForm.get('tenureType')?.touched || isSubmitted"
            >
              <span
                class="massage-text"
                *ngIf="loanDetailsForm.get('tenureType')?.hasError('required')"
                >Tenure Type is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Leave Period</label>
            <input
              type="number"
              maxlength="1"
              class="form-control my-2"
              formControlName="leavePeriod"
              [min]="0"
            />
            <div
              *ngIf="loanDetailsForm.get('leavePeriod')?.touched || isSubmitted"
            >
              <span
                class="massage-text"
                *ngIf="loanDetailsForm.get('leavePeriod')?.hasError('required')"
                >Leave Period is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Finance Amount</label>
            <input
              type="number"
              [maxLength]="10"
              class="form-control my-2"
              formControlName="financeAmount"
              [min]="0"
            />
            <div
              *ngIf="
                loanDetailsForm.get('financeAmount')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  loanDetailsForm.get('financeAmount')?.hasError('required')
                "
                >Finance Amount is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Rate</label>
            <input
              type="number"
              maxlength="3"
              class="form-control my-2"
              formControlName="rate"
              [min]="0"
            />
            <div *ngIf="loanDetailsForm.get('rate')?.touched || isSubmitted">
              <span
                class="massage-text"
                *ngIf="loanDetailsForm.get('rate')?.hasError('required')"
                >Rate is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Tenure</label>
            <input
              type="number"
              [maxlength]="2"
              class="form-control my-2"
              formControlName="tenure"
              [min]="0"
            />
            <div *ngIf="loanDetailsForm.get('tenure')?.touched || isSubmitted">
              <span
                class="massage-text"
                *ngIf="loanDetailsForm.get('tenure')?.hasError('required')"
                >Tenure is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Repayment Frequency</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="repaymentFrequency"
            />
            <div
              *ngIf="
                loanDetailsForm.get('repaymentFrequency')?.touched ||
                isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  loanDetailsForm
                    .get('repaymentFrequency')
                    ?.hasError('required')
                "
                >Repayment Frequency is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Document Category</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="documentCategory"
            />
            <div
              *ngIf="
                loanDetailsForm.get('documentCategory')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  loanDetailsForm.get('documentCategory')?.hasError('required')
                "
                >Document Category is required</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="loan-details-box my-3">
      <form class="loan-details-form" [formGroup]="assetsDetailsForm">
        <caption class="d-flex">
          Asset Details
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-lg-4">
            <label>Asset Class</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="assetClass"
            />
            <div
              *ngIf="
                assetsDetailsForm.get('assetClass')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  assetsDetailsForm.get('assetClass')?.hasError('required')
                "
                >Asset Class is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Asset Model</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="assetModel"
            />
            <div
              *ngIf="
                assetsDetailsForm.get('assetModel')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  assetsDetailsForm.get('assetModel')?.hasError('required')
                "
                >Asset Model is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Chassis Number</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="chassisNumber"
            />
            <div
              *ngIf="
                assetsDetailsForm.get('chassisNumber')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  assetsDetailsForm.get('chassisNumber')?.hasError('required')
                "
                >Chassis Number is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Model</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="model"
            />
            <div *ngIf="assetsDetailsForm.get('model')?.touched || isSubmitted">
              <span
                class="massage-text"
                *ngIf="assetsDetailsForm.get('model')?.hasError('required')"
                >Model is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Fuel Type</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="fuelType"
            />
            <div
              *ngIf="assetsDetailsForm.get('fuelType')?.touched || isSubmitted"
            >
              <span
                class="massage-text"
                *ngIf="assetsDetailsForm.get('fuelType')?.hasError('required')"
                >Fuel Type is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Asset Name</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="assetName"
            />
            <div
              *ngIf="assetsDetailsForm.get('assetName')?.touched || isSubmitted"
            >
              <span
                class="massage-text"
                *ngIf="assetsDetailsForm.get('assetName')?.hasError('required')"
                >Asset Name is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Vehicle Number</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="vehicleNumber"
            />
            <div
              *ngIf="
                assetsDetailsForm.get('vehicleNumber')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  assetsDetailsForm.get('vehicleNumber')?.hasError('required')
                "
                >Vehicle Number is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Serial Number</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="serialNumber"
            />
            <div
              *ngIf="
                assetsDetailsForm.get('serialNumber')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  assetsDetailsForm.get('serialNumber')?.hasError('required')
                "
                >Serial Number is required</span
              >
            </div>
          </div>
          <div class="col-12 col-lg-4">
            <label>Vehicle Type</label>
            <input
              type="text"
              class="form-control my-2"
              formControlName="vehicleType"
            />
            <div
              *ngIf="
                assetsDetailsForm.get('vehicleType')?.touched || isSubmitted
              "
            >
              <span
                class="massage-text"
                *ngIf="
                  assetsDetailsForm.get('vehicleType')?.hasError('required')
                "
                >Vehicle Type is required</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-12">
        <button></button>
      </div>
    </div>
  </div>
</div>
