<div class="content-box pt-2">
  <div class="container">
    <div class="fvrvehicle-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none d-flex align-items-center"
              ><mat-icon class="me-2">home</mat-icon>FVR
              Vehicle</a
            >
          </li>
        </ol>
      </nav>
    </div>
    <div class="fvrvehicle-details-box my-3">
      <form class="fvrvehicle-details-form">
        <caption class="d-flex">
          FVR
          Vehicle
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4
          .">
            <label>Lead Number</label>
            <input
              placeholder="Enter Lead Number"
              type="number"
              class="form-control mt-1"
              formControlName="leadnumber"
            />

            <span class="massage-text">Lead Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Vehicle Number</label>
            <input
              placeholder="Enter Vehicle Number"
              type="number"
              class="form-control mt-1"
              formControlName="vehicleNumber"
            />

            <span class="massage-text">Vehicle Number is required</span>
          </div>
        </div>
      </form>
      <div
        class="d-flex align-items-center justify-content-end flex-wrap gap-3 pt-4"
      >
        <button class="option-button d-flex align-items-center">Search</button>
        <button class="option-button d-flex align-items-center">Clear</button>
      </div>
    </div>
    <div class="fvrvehicle-details-box my-3">
      <table
      class="fvrvehicle-master-table table table-bordered table-responsive mb-0"
    >
      <thead>
        <tr>
          <th scope="col" >Lead Number</th>
          <th class="col">Date</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>

        </tr>
      </thead>
      <tbody>

        <tr>
          <td>FOSLDN007	</td>
          <td>22/11/2024</td>
          <td>Field Verification Completed</td>
          <td><mat-icon>search</mat-icon></td>

        </tr>
        <tr>
          <td>FOSLDN007	</td>
          <td>22/11/2024</td>
          <td>Field Verification Completed</td>
          <td><mat-icon>search</mat-icon></td>

        </tr>
        <tr>
          <td>FOSLDN007	</td>
          <td>22/11/2024</td>
          <td>Field Verification Completed</td>
          <td><mat-icon>search</mat-icon></td>

        </tr>
        <tr>
          <td>FOSLDN007	</td>
          <td>22/11/2024</td>
          <td>Field Verification Completed</td>
          <td><mat-icon>search</mat-icon></td>

        </tr>
      </tbody>
    </table>

    </div>
  </div>
</div>
