<div class="content-box pt-2">
  <div class="container">
    <div class="fvrvehicle-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item d-flex align-items-center">
            <mat-icon class="me-2">home</mat-icon>
            <a
              href="#"
              class="text-decoration-none d-flex align-items-center"
            ></a>
            FVR Vehicle
          </li>
        </ol>
      </nav>
    </div>
    <div class="fvrvehicle-details-box my-3">
      <form class="fvrvehicle-details-form" [formGroup]="fvrVehicleLeadForm">
        <caption class="d-flex">
          FVR Vehicle
        </caption>
        <div class="row d-flex gy-2">
          <div class="col-12 col-lg-4">
            <label>Lead Number</label>
            <input
              placeholder="Enter Lead Number"
              type="text"
              class="form-control mt-2"
              formControlName="leadNumber"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
          <div class="col-12 col-lg-4">
            <label>Vehicle Number</label>
            <input
              placeholder="Enter Vehicle Number"
              type="text"
              class="form-control mt-2"
              formControlName="vehicleNumber"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
        </div>
      </form>
      <div
        class="d-flex align-items-center justify-content-end flex-wrap gap-3 pt-4"
      >
        <button
          class="option-button d-flex align-items-center"
          (click)="searchVehiclesForLead()"
        >
          Go
        </button>
        <button
          class="option-button d-flex align-items-center"
          (click)="clear()"
        >
          Clear
        </button>
      </div>
    </div>

    <div class="fvrvehicle-details-box my-3">
      <form class="fvr-vehicle-details-form" [formGroup]="fvrVehicleProspectForm">
        <caption class="d-flex">
          Lead Details
        </caption>
        <div class="row d-flex gy-2">
          <div class="col-12 col-lg-4">
            <label>Lead Number</label>
            <input
              placeholder="Enter Lead Number"
              type="text"
              class="form-control mt-2"
              formControlName="leadNumber"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
          <div class="col-12 col-lg-4">
            <label>Vehicle Number</label>
            <input
              placeholder="Enter Vehicle Number"
              type="text"
              class="form-control mt-2"
              formControlName="vehicleNumber"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
          <div class="col-12 col-lg-4">
            <label>Prospect Name</label>
            <input
              placeholder="Enter Prospect Name"
              type="text"
              class="form-control mt-2"
              formControlName="prospectName"
              oninput="this.value = this.value.toUpperCase()"
            />
          </div>
        </div>
      </form>
    </div>
    <div class="fvrvehicle-details-box my-3">
    <div class="tab-bar-box">
    <mat-tab-group>
      <mat-tab label="FVR VEHICLE 1">
        <div class="fvr-vehicle-details-box my-3">
          <form class="fvr-vehicle-details-form" [formGroup]="fvrVehicle1Form">
            <caption class="d-flex">
              FVR Vehicle
            </caption>
            <div class="row d-flex gy-2">
              <div class="col-12 col-lg-4">
                <label>Verifier Name<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter Verifier Name"
                  type="text"
                  class="form-control mt-2"
                  formControlName="verifierName"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Verifier Id<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter Verifier Id"
                  type="text"
                  class="form-control mt-2"
                  formControlName="verifierId"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Branch Name<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter Branch Name"
                  type="text"
                  class="form-control mt-2"
                  formControlName="branchName"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Date Of Visit<span class="text-danger">*</span></label>
                <input
                  type="date"
                  class="form-control mt-2"
                  formControlName="dateOfVisit"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Time<span class="text-danger">*</span></label>
                <input
                  type="time"
                  class="form-control mt-2"
                  formControlName="time"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Tax Expiry<span class="text-danger">*</span></label>
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="taxExpiry"
                >
                  <option value="" disabled>Select Tax Expiry</option>
                  <option
                    *ngFor="let c of taxTypeLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>

              <div class="col-12 col-lg-4">
                <label>Tax Expiry Date<span class="text-danger">*</span></label>
                <input
                  type="date"
                  class="form-control mt-2"
                  formControlName="taxExpiryDate"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Permit Status<span class="text-danger">*</span></label>
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="permitStatus"
                >
                  <option value="" disabled>Select Permit Status</option>
                  <option
                    *ngFor="let c of permitLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Insurance Expiry Date<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  type="date"
                  class="form-control mt-2"
                  formControlName="insuranceExpiryDate"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Field Executive Comment<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter Field Executive Comment"
                  type="text"
                  class="form-control mt-2"
                  formControlName="fieldExecutiveComment"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Inspected Value Of Vehicle<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter Inspected Value Of Vehicle"
                  type="number"
                  class="form-control mt-2"
                  formControlName="inspectedVehicleValue"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Rc Registration Date<span class="text-danger">*</span></label
                >
                <input
                  type="date"
                  class="form-control mt-2"
                  formControlName="rcRegistrationDate"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Makers Classification / Vehicle Description<span
                    class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter Makers Classification / Vehicle Description"
                  type="text"
                  class="form-control mt-2"
                  formControlName="vehicleDescription"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Condition Of Front Tyres<span class="text-danger"
                    >*</span
                  ></label
                >
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="frontTyreCondition"
                >
                  <option value="" disabled>Select Tyre Condition</option>
                  <option
                    *ngFor="let c of tyreLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Condition Of Rear Tyres<span class="text-danger"
                    >*</span
                  ></label
                >
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="rearTyreCondition"
                >
                  <option value="" disabled>Select Tyre Condition</option>
                  <option
                    *ngFor="let c of tyreLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>

              <div class="col-12 col-lg-4">
                <label>Colour<span class="text-danger">*</span></label>
                <input
                  placeholder="Enter Colour"
                  type="text"
                  class="form-control mt-2"
                  formControlName="colour"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Vehicle Body Condition<span class="text-danger"
                    >*</span
                  ></label
                >
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="vehicleCondition"
                >
                  <option value="" disabled>Select Vehicle Condition</option>
                  <option
                    *ngFor="let c of bodyLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Inspected Place Of Vehicle<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter Inspected Place Of Vehicle"
                  type="text"
                  class="form-control mt-2"
                  formControlName="inspectedVehiclePlace"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label>Type Of Body<span class="text-danger">*</span></label>
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="bodyType"
                >
                  <option value="" disabled>Select Body Type</option>
                  <option
                    *ngFor="let c of bodyTypeLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Body Length In Feet<span class="text-danger">*</span></label
                >
                <input
                  placeholder="Enter Body Length In Feet"
                  type="text"
                  class="form-control mt-2"
                  formControlName="bodyLength"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >National Permit Detail/Validity<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter National Permit Detail/Validity"
                  type="text"
                  class="form-control mt-2"
                  formControlName="nationalPermitValidity"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >State Permit Detail/Validity<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter State Permit Detail/Validity"
                  type="text"
                  class="form-control mt-2"
                  formControlName="statePermitValidity"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Present Owner Of The Vehicle<span class="text-danger"
                    >*</span
                  ></label
                >
                <input
                  placeholder="Enter Present Owner Of The Vehicle"
                  type="text"
                  class="form-control mt-2"
                  formControlName="vehiclePresentOwner"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Engine Condition<span class="text-danger">*</span></label
                >
                <input
                  placeholder="Enter Engine Condition"
                  type="text"
                  class="form-control mt-2"
                  formControlName="engineCondition"
                />
              </div>

              <div class="col-12 col-lg-4">
                <label
                  >Duplicate Key Verified<span class="text-danger"
                    >*</span
                  ></label
                >
                <select
                  class="form-select mt-2 mb-1"
                  formControlName="verifiedDuplicateKey"
                >
                  <option value="" disabled>Select Duplicate Key</option>
                  <option
                    *ngFor="let c of defaultLookup"
                    [value]="c.lookupValueId"
                  >
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </mat-tab>

      <mat-tab label="FVR VEHICLE 2">
        <div class="fvr-vehicle-details-box my-3">
          <form class="fvr-vehicle-details-form" [formGroup]="fvrVehicle2Form">
            <caption class="d-flex">
              FVR Vehicle
            </caption>
            <div class="container-vehicle responsive-grid">
              <mat-card *ngFor="let card of vehicleImages" (click)="openMaximizeWindow(card)">
                <mat-card-header>
                  <mat-card-title>{{ card.documentDescription }}</mat-card-title>
                </mat-card-header>
                <br />
                <img mat-card-image [src]="card.documentPath" />
                <!-- <mat-card-content>
                  <br />
                  <p>{{ card.documentDescription }}</p>
                </mat-card-content> -->
              </mat-card>
            </div>
          </form>
        </div>
      </mat-tab>
    </mat-tab-group>
    </div>
  </div>
  </div>
</div>
