:host {
  width: 100%;
}

.container-vehicle {
  padding: 24px;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 24px;
}

.content-box {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100%;
  background-color: var(--background-color);
  margin-top: 80px;

  // height: 100vh;
  .tab-box {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;
  }

  .option-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: var(--button-text-color);
    background: var(--background-button);
    border: unset;
    padding: 5px 10px;
  }

  .fvrvehicle-details-box {
    .breadcrumb {
      li {
        color: var(--text-color);
      }
    }

    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 10px;

    .fvrvehicle-details-form {
      caption {
        font-size: 20px;
        color: var(--text-bold-color);
        padding-top: 0;
        line-height: 28px;
        font-weight: 600;
      }

      label,
      input {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: var(--text-color);


      }

      input {
        border: 1px solid var(--input-border);
        background-color: var(--input-background);
        border-radius: 5px;
        color: var(--text-dark);
        &:focus {
          box-shadow: 0px 2px 6px 0px #173662;
        }
      }

      .massage-text {
        color: #f7811e;
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        margin-bottom: 15px;
        display: inline-block;
      }

      .next-button {
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: var(--button-text-color);
        background: var(--background-button);
        border: unset;
        padding: 5px 10px;
      }

      .textarea {
        border-radius: 5px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #173662;
        &:focus {
          box-shadow: 0px 2px 6px 0px #173662;
        }
      }

    }

    .fvrvehicle-master-table {
      thead {
        tr {
          th {
            background-color: var(--table-header-background);
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: var(--header-text-color);
            text-wrap: nowrap;
          }
        }
      }

      tr {
        td {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: var(--text-dark);
          text-wrap: nowrap;
        }
      }

    }

    .lead-master-box {
      border: 1px solid #cfd9e8;
      border-radius: 5px;
      padding: 20px;


      .breadcrumb {
        li {
          color: var(--text-color);
        }
      }

      .lead-master-form {
        caption {
          font-size: 20px;
          color: var(--text-bold-color);
          padding-top: 0;
          line-height: 28px;
          font-weight: 600;
        }

        label,
        input {
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: var(--text-color);
        }

        input {
          border: 1px solid var(--input-border);
          background-color: var(--input-background);
          border-radius: 5px;
          &:focus {
            box-shadow: 0px 2px 6px 0px #173662;
          }
        }

        select {
          border: 1px solid var(--input-border);
          background-color: var(--input-background);
          border-radius: 5px;
          font-size: 14px;
          line-height: 18px;
          font-weight: 400;
          color: var(--text-dark);

          option {
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
          }

          &:focus {
            box-shadow: 0px 2px 6px 0px #173662;
          }
        }


        .massage-text {
          color: #f7811e;
          font-size: 12px;
          line-height: 18px;
          font-weight: 400;
          margin-bottom: 15px;
          display: inline-bVCBNlock;
        }



      }


      .lead-master-table {
        border: 1px solid var(--border-color);

        thead {
          tr {
            th {
              background-color: var(--table-header-background);
              font-size: 14px;
              font-weight: 600;
              line-height: 20px;
              color: var(--header-text-color);
            }
          }
        }

        tr {
          td {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: var(--text-dark)
          }
        }

      }

      .pagination {
        .page-link {
          color: #f7811e;
        }
      }
    }
  }
}

.mat-mdc-header-row {
  background-color: var(--table-header-background);
  height: unset;

}

::ng-deep .mat-mdc-form-field-infix {
  padding: 0 !important;
  min-height: unset !important;
  height: unset !important;
  // background-color: red !important;
}

::ng-deep .mat-mdc-text-field-wrapper {
  background-color: transparent !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border-bottom-color: #fff !important;
  padding-top: 10px !important;
}

::ng-deep .mat-mdc-input-element::placeholder {
  color: #fff !important;
}

::ng-deep .mat-mdc-input-element {
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  color: #fff !important;
}

::ng-deep .mat-sort-header-arrow {
  color: #fff !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
  display: none !important;
}

.option {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  height: 68px;
}

.table-header {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--header-text-color);

}


@media only screen and (max-width: 992px) {

  .content-box {
    margin-left: 0;
    width: 100%;

    .fvrvehicle-details-box {
      overflow: auto;
    }
  }
}
