<div class="content-box pt-2">
  <div class="container">
    <div class="fvrhirer-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item d-flex align-items-center">
            <mat-icon class="me-2">home</mat-icon>
            <a href="#" class="text-decoration-none d-flex align-items-center"></a>
            FVR Hirer Neighbour
          </li>
        </ol>
      </nav>
    </div>
    <div class="fvrhirer-details-box my-3">
      <form class="fvrhirer-details-form" [formGroup]="fvrHirerNeighbourLeadForm">
        <caption class="d-flex">
          FVR Hirer Neighbour
        </caption>
        <div class="row d-flex gy-2">
          <div class="col-12 col-lg-4">
            <label>Lead Number<span class="text-danger">*</span></label>
            <input placeholder="Enter Lead Number" type="text" class="form-control mt-2" formControlName="leadNumber" oninput="this.value = this.value.toUpperCase()"/>

            <!-- <span class="massage-text"
              *ngIf="(fvrHirerNeighbourLeadForm.get('leadNumber')?.touched || isSubmitted) && fvrHirerNeighbourLeadForm.get('leadNumber')?.hasError('required')">Lead
              Number is required</span> -->
          </div>
          <div class="col-12 col-lg-4">
            <label>Vehicle Number<span class="text-danger">*</span></label>
            <input placeholder="Enter Vehicle Number" type="text" class="form-control mt-2"
              formControlName="vehicleNumber" oninput="this.value = this.value.toUpperCase()"/>

            <!-- <span class="massage-text"
              *ngIf="(fvrHirerNeighbourLeadForm.get('vehicleNumber')?.touched || isSubmitted) && fvrHirerNeighbourLeadForm.get('vehicleNumber')?.hasError('required')">Vehicle
              Number is required</span> -->
          </div>
        </div>
      </form>
      <div class="d-flex align-items-center justify-content-end flex-wrap gap-3 pt-4">
        <button class="option-button d-flex align-items-center" (click)="go()">Go</button>
      </div>
    </div>
    <div class="fvrhirer-details-box my-3">
      <form class="fvrhirer-details-form" [formGroup]="fvrHirerNeighbourLeadDetailsForm">
        <caption class="d-flex">
          Lead Details
        </caption>
        <div class="row d-flex gy-2">
          <div class="col-12 col-lg-4">
            <label>Lead Number</label>
            <input placeholder="Lead Number " type="text" class="form-control mt-2" formControlName="leadNumber"
              [readonly]="true" />
          </div>
          <div class="col-12 col-lg-4">
            <label>Lead Date</label>
            <input placeholder="
              Lead Date" type="date" class="form-control mt-2" formControlName="leadDate" [readonly]="true" />
          </div>

          <div class="col-12 col-lg-4">
            <label>Location</label>
            <input placeholder="Location" type="text" class="form-control mt-2" formControlName="location" [readonly]="true" />
          </div>

          <div class="col-12 col-lg-4">
            <label>Prospect Name</label>
            <input placeholder="Prospect Name" type="text" class="form-control mt-2" formControlName="prospectName"
              [readonly]="true" />
          </div>
          <div class="col-12 col-lg-4">
            <label>Mobile Number </label>
            <input placeholder=" Mobile Number" type="tel" class="form-control mt-2" formControlName="mobileNumber"
              [readonly]="true" />
          </div>

          <div class="col-12 col-lg-4">
            <label>Vehicle Number </label>
            <input placeholder="Vehicle Number" type="text" class="form-control mt-2" formControlName="vehicleNumber"
              [readonly]="true" />
          </div>
          <div class="col-12 col-lg-4">
            <label>Prospect Address </label>
            <textarea class="w-100" rows="4" mt-2 formControlName="prospectAddress" [readonly]="true"></textarea>
          </div>
        </div>
      </form>
    </div>

      <table>
        <tbody>
          <tr>
            <td>FVR Hirer</td>
            <td>Visited By</td>
            <td>Visited On</td>
            <td> <button class="option-button d-flex align-items-center">Create</button></td>
            <td> <button class="option-button d-flex align-items-center">View</button></td>
          </tr>
          <tr>
            <td>FVR Neighbour</td>
            <td>Visited By</td>
            <td>Visited On</td>
            <td> <button class="option-button d-flex align-items-center">Create</button></td>
            <td> <button class="option-button d-flex align-items-center">View</button></td>
          </tr>
        </tbody>
      </table>

  </div>
</div>
