:host {
  width: 100%;
}



.content-box {
  width: calc(100% - 300px);
  margin-left: 300px;
  height: 100%;
  background-color: var(--background-color);
  margin-top: 80px;


  .tab-box {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--text-color);
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 10px;
  }

  .option-button {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      color: var(--button-text-color);
      background: var(--background-button);
      border: unset;
      padding: 5px 10px;
  }

  .fvrhirer-details-box {
      border: 1px solid var(--border-color);
      border-radius: 5px;
      padding: 10px;
      .breadcrumb{
        li{
        color: var(--text-color);
      }
      }

      .fvrhirer-details-form {
          caption {
              font-size: 20px;
              color: var(--text-bold-color);
              padding-top: 0;
              line-height: 28px;
              font-weight: 600;
          }

          label,
          input {
              font-size: 14px;
              line-height: 18px;
              font-weight: 400;
              color: var(--text-color);

              &:focus {
                  box-shadow: unset;
              }
          }

          input {
              border: 1px solid var(--input-border);
              background-color: var(--input-background);
              border-radius: 5px;
              color: var(--text-dark);
          }

          .massage-text {
              color: #f7811e;
              font-size: 12px;
              line-height: 18px;
              font-weight: 400;
              margin-bottom: 15px;
              display: inline-block;
          }

          .next-button {
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              color: var(--button-text-color);
              background: var(--background-button);
              border: unset;
              padding: 5px 10px;
          }
          textarea{
            border-radius: 5px;
            font-size: 14px;
            line-height: 18px;
            font-weight: 400;
            color: #173662;
        }

      }
  }
}

@media only screen and (max-width: 992px) {
  .content-box {
      margin-left: 0;
      width: 100%;

      .fvrhirer-table-box {
          .serach-box {
              width: 100%;
          }
      }
  }
}
