<div class="content-box pt-2">
  <div class="container">
    <div class="user-create-box my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">User Management</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Create</li>
        </ol>
      </nav>
    </div>
    <div class="user-create-box my-3">
      <form class="user-create-form" [formGroup]="userManagementForm">
        <caption class="d-flex">User
          Management</caption>
        <div class="row d-flex ">
          <div class="col-12 col-lg-4">
            <label>User ID*</label>
            <input type="number" class="form-control mt-2" placeholder="Enter the User ID" formControlName="userId">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('userId')?.touched || isSubmitted) && userManagementForm.get('userId')?.hasError('required')">
              User ID is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>User Name</label>
            <input type="text" class="form-control mt-2" placeholder="Enter the User Name" formControlName="userName">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('userName')?.touched || isSubmitted) && userManagementForm.get('userName')?.hasError('required')">
              User Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Gender*</label>
            <select class="form-select mt-2" formControlName="gender">
              <option>Male</option>
              <option>Female</option>
            </select>
            <span class="massage-text"
              *ngIf="(userManagementForm.get('gender')?.touched || isSubmitted) && userManagementForm.get('gender')?.hasError('required')">Gender
              is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Password*</label>
            <input type="password" class="form-control mt-2" placeholder="Enter the Password"
              formControlName="password">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('password')?.touched || isSubmitted) && userManagementForm.get('password')?.hasError('required')">
              Password is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Mobile Number*</label>
            <input type="number" class="form-control mt-2" placeholder="Enter the mobile number"
              formControlName="mobileNumber">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('mobileNumber')?.touched || isSubmitted) && userManagementForm.get('mobileNumber')?.hasError('required')">
              Mobile Number* is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Emergency Contact Number*
            </label>
            <input type="number" class="form-control mt-2" placeholder="Enter Emergency Contact Number"
              formControlName="emergencyContactNumber">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('emergencyContactNumber')?.touched || isSubmitted) && userManagementForm.get('emergencyContactNumber')?.hasError('required')">
              Emergency Contact Number*
              is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Emergency Person Name</label>
            <input type="text" class="form-control mt-2" placeholder="Enter Emergency Person Name"
              formControlName="emergencyContactPerson">
            <!-- <span class="massage-text" ngClass>Emergency Person Name is
                    required</span> -->
          </div>
          <div class="col-12 col-lg-4">
            <label>Date of Joining*</label>
            <input type="date" class="form-control mt-2" formControlName="joiningDate">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('joiningDate')?.touched || isSubmitted) && userManagementForm.get('joiningDate')?.hasError('required')">Date
              of Joining is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Designation*</label>
            <select class="form-select mt-2" formControlName="designation">
              <option>ACCOUNTS EXECUTIVE</option>
              <option>ACCOUNTS MANAGER</option>
              <option>ASSISTANT BRANCH MANAGER</option>
              <option>ASSISTANT CLUSTER MANAGER</option>
              <option>ASSISTANT MANAGER - DISBURSEMENT</option>
              <option>ASSISTANT MANAGER - OPERATION</option>
              <option>ASSISTANT MANAGER - RTO</option>
              <option>BACK OFFICE EXECUTIVE</option>
              <option>BRANCH CO-ORDINATOR</option>
              <option>BRANCH MANAGER</option>
              <option>BRANCH OPERATION EXECUTIVE</option>
              <option>CLUSTER MANAGER</option>
              <option>COMPANY SECRETARY</option>
              <option>EXECUTIVE - ACCOUNTS</option>
              <option>EXECUTIVE - OPERATION</option>
              <option>FIELD EXECUTIVE</option>
              <option>FINANCE ACCOUNTS</option>
              <option>LEGAL MANAGER</option>
              <option>MANAGER - CREDIT</option>
              <option>MANAGER - DISBURSEMENT</option>
              <option>MANAGER - IT</option>
            </select>
            <span class="massage-text"
              *ngIf="(userManagementForm.get('designation')?.touched || isSubmitted) && userManagementForm.get('designation')?.hasError('required')">Designation
              is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>User Level*</label>
            <select class="form-select mt-2" formControlName="userLevel">
              <option>Manager</option>
              <option>Officer level</option>
              <option>Staff level</option>
              <option>System Admin</option>
              <option>Top Management</option>
            </select>
            <span class="massage-text"
              *ngIf="(userManagementForm.get('userLevel')?.touched || isSubmitted) && userManagementForm.get('userLevel')?.hasError('required')">User
              Level is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Reporting - Next Level*</label>
            <input type="password" class="form-control mt-2" placeholder="--Select--"
              formControlName="reportingNextLevel">
          </div>
          <div class="col-12 col-lg-4">
            <label>User Group</label>
            <select class="form-select mt-2" formControlName="userGroup">
              <option>Admin</option>
            </select>
          </div>
          <div class="col-12 col-lg-4">
            <label>Email ID*
            </label>
            <input type="email" class="form-control mt-2" placeholder="Enter the Email" formControlName="emailId">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('emailId')?.touched || isSubmitted) && userManagementForm.get('emailId')?.hasError('required')">
              Email
              is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Date of birth*</label>
            <input type="date" class="form-control mt-2" formControlName="dateOfBirth">
            <span class="massage-text"
              *ngIf="(userManagementForm.get('dateOfBirth')?.touched || isSubmitted) && userManagementForm.get('dateOfBirth')?.hasError('required')">Date
              of birth is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Age</label>
            <input type="text" class="form-control mt-2" placeholder="age" formControlName="age">
          </div>
        </div>

      </form>
    </div>
    <div class="user-create-box my-3">
      <form class="user-create-form" [formGroup]="userPersonalDetails">
        <caption class="d-flex">Personal
          Details</caption>
        <div class="row d-flex ">
          <div class="col-12 col-lg-4">
            <label>Father Name*</label>
            <input type="text" class="form-control mt-2" placeholder="Enter the Father Name"
              formControlName="fatherName">
            <span class="massage-text"
              *ngIf="(userPersonalDetails.get('fatherName')?.touched || isSubmitted) && userPersonalDetails.get('fatherName')?.hasError('required')">
              Father Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Mother Name</label>
            <input type="text" class="form-control mt-2" placeholder="Enter the Mother Name"
              formControlName="motherName">
            <span class="massage-text"
              *ngIf="(userPersonalDetails.get('motherName')?.touched || isSubmitted) && userPersonalDetails.get('motherName')?.hasError('required')">
              Mother Name is
              required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Marital Status</label>
            <select class="form-select mt-2" formControlName="maritalStatus">
              <option>Single</option>
              <option>Married</option>
              <option>Separated</option>
              <option>Divorced</option>
            </select>
            <span class="massage-text"
              *ngIf="(userPersonalDetails.get('maritalStatus')?.touched || isSubmitted) && userPersonalDetails.get('maritalStatus')?.hasError('required')">Marital
              Status is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Aadhar Number*</label>
            <input type="password" class="form-control mt-2" placeholder="Enter Aadhar Number"
              formControlName="aadharNumber">
          </div>
          <div class="col-12 col-lg-4">
            <label>PAN Number*</label>
            <input type="number" class="form-control mt-2" placeholder="Enter PAN Number" formControlName="panNumber">
          </div>

        </div>

      </form>
    </div>
    <div class="row mb-4">
      <div class="col-12 d-flex flex-column gap-1">
        <mat-icon class="addimage-icon">add_a_photo</mat-icon>
        <input type="file" class="file-input">
      </div>
      <div class="button-box col-12 d-flex flex-row justify-content-end gap-1 flex-wrap">
        <button class="save-button col-12 col-md-1 px-4" (click)="save()">Save</button>
        <button class="back-button px-4 col-12 col-md-1">Back</button>
      </div>
    </div>
  </div>
</div>
