<div class="content-box pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="approval-details-box ">


          <ngx-slick-carousel
            class="carousel"
            #slickModal="slick-carousel"
            [config]="slideConfig"
            (init)="slickInit($event)"
            (breakpoint)="breakpoint($event)"
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)"
          >

            <div ngxSlickItem class="slide" *ngIf="activeSlide == 1">
              <app-read-only-lead-master></app-read-only-lead-master>
            </div>

            <div ngxSlickItem class="slide" *ngIf="activeSlide == 2">
              <app-read-only-prospect-master></app-read-only-prospect-master>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 3">
              <app-read-only-prospect-details></app-read-only-prospect-details>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 4">
              <app-read-only-loan-details ></app-read-only-loan-details>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 5">
              <app-read-only-individual></app-read-only-individual>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 6">
              <app-read-only-non-individual></app-read-only-non-individual>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 7">
              <app-read-only-guarantor-1></app-read-only-guarantor-1>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 8">
              <app-read-only-guarantor-2></app-read-only-guarantor-2>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 9">
              <app-read-only-bm-approval-master></app-read-only-bm-approval-master>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 10">
              <app-read-only-disbursement-detail-master></app-read-only-disbursement-detail-master>
             </div>

             <!-- <div ngxSlickItem class="slide" *ngIf="activeSlide == 13">
              <app-document-collection-master></app-document-collection-master>
             </div> -->

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 11">
              <app-read-only-fvr-hirer></app-read-only-fvr-hirer>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 12">
              <app-read-only-fvr-neighbour></app-read-only-fvr-neighbour>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 13">
              <app-read-only-fvr-hirer-neighbour></app-read-only-fvr-hirer-neighbour>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 14">
              <app-read-only-fvr-guarantor></app-read-only-fvr-guarantor>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 15">
              <app-read-only-fvr-vehicle></app-read-only-fvr-vehicle>
             </div>

             <div ngxSlickItem class="slide" *ngIf="activeSlide == 16">
              <app-read-only-fvr-observation></app-read-only-fvr-observation>
             </div>
             <div ngxSlickItem class="slide image-box d-flex align-items-center justify-content-center" *ngIf="activeSlide == 17">
               <img src="../../../../../../assets/images/signUpd.png">
             </div>

           </ngx-slick-carousel>

        </div>
           <div class="row row-gap-2 px-3 row pt-4">
          <div *ngFor="let comp of fosComponents" class="col-2" >
            <button class="option-button w-100"(click)="displaySelectedComponent(comp?.index)">{{comp?.title}}</button>
          </div></div>


          <!-- <button (click)="removeSlide()">Remove</button>
          <button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
          <button (click)="slickModal.unslick()">unslick</button> -->


    </div>
  </div>
</div>
