<div
  class="background flex flex-row justify-content-center align-items-center w-screen h-screen"
>
  <div
    class="access-denied flex flex-column justify-content-center align-items-center gap-2 border-round shadow-8 w-11 md:w-6 p-3"
  >
    <img
      class="w-full pr-3"
      src="../../../../assets/images/logo.svg"
      alt="Image"
    />
    <span class="message">You are currently signed as: 'MAIL'.</span>
    <span class="message">You don't have access to this resource.</span>
    <span class="message pb-2"
      >If you think it's wrong, contact the HL support.</span
    >
    <button routerLink="">Try Again</button>
  </div>
</div>
