<div class="content-box pt-2">
  <div class="container">
    <div class="fvrgaurantor-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none d-flex align-items-center"><mat-icon class="me-2">home</mat-icon>FVR
              Guarantor</a>
          </li>
        </ol>
      </nav>
    </div>
    <div class="fvrgaurantor-details-box my-3">
      <form class="fvrgaurantor-details-form" [formGroup]="fvrGuarantorLeadForm">
        <caption class="d-flex">
          FVR
          Guarantor
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Lead Number</label>
            <input placeholder="Enter Lead Number" type="number" class="form-control my-2"
              formControlName="leadNumber" />

            <span class="massage-text"  *ngIf="(fvrGuarantorLeadForm.get('leadNumber')?.touched || isSubmitted) && fvrGuarantorLeadForm.get('leadNumber')?.hasError('required')">Lead Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Vehicle Number</label>
            <input placeholder="Enter Vehicle Number" type="number" class="form-control my-2"
              formControlName="vehicleNumber" />

            <span class="massage-text"  *ngIf="(fvrGuarantorLeadForm.get('vehicleNumber')?.touched || isSubmitted) && fvrGuarantorLeadForm.get('vehicleNumber')?.hasError('required')">Vehicle Number is required</span>
          </div>
        </div>
      </form>
      <div class="d-flex align-items-center justify-content-end flex-wrap gap-3 pt-4">
        <button class="option-button d-flex align-items-center">Go</button>
        <button class="option-button d-flex align-items-center">Clear</button>
      </div>
    </div>
    <div class="fvrgaurantor-details-box my-3">
      <form class="fvrgaurantor-details-form" [formGroup]="fvrGuarantorLeadDetailsForm">
        <caption class="d-flex">
          Lead Details
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Lead Number</label>
            <input placeholder="Lead Number " type="number" class="form-control my-2" formControlName="leadNumber" />

            <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('leadNumber')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('leadNumber')?.hasError('required')">Lead Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Lead Date</label>
            <input placeholder="
              Lead Date" type="date" class="form-control my-2" formControlName="leadDate" />

            <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('leadDate')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('leadDate')?.hasError('required')">Lead Date is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Branch</label>
            <input placeholder="Branch" type="text" class="form-control my-2" formControlName="branch" />

            <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('branch')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('branch')?.hasError('required')">Branch is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Prospect Name</label>
            <input placeholder="Prospect Name" type="text" class="form-control my-2" formControlName="prospectName" />

            <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('prospectName')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('prospectName')?.hasError('required')">Prospect Name is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Mobile Number </label>
            <input placeholder=" Mobile Number" type="number" class="form-control my-2" formControlName="mobileNumber" />
            <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('mobileNumber')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('mobileNumber')?.hasError('required')">Mobile Number is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Vehicle Number </label>
            <input placeholder="Vehicle Number" type="number" class="form-control my-2" formControlName="vehicleNumber" />
            <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('vehicleNumber')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('vehicleNumber')?.hasError('required')">Vehicle Number is required</span>
          </div>

          <div class="col-12 col-md-4">
            <label>Prospect Address </label>
            <textarea class="w-100" rows="4" my-2 formControlName="prospectAddress"></textarea>
          </div>
          <span class="massage-text" *ngIf="(fvrGuarantorLeadDetailsForm.get('prospectAddress')?.touched || isSubmitted) && fvrGuarantorLeadDetailsForm.get('prospectAddress')?.hasError('required')">Prospect Address is required</span>
        </div>
      </form>

    </div>
  </div>
</div>
