<div class="content-box pt-2">
  <div class="container">
    <mat-tab-group (selectedTabChange)="onTabChanged($event)" [selectedIndex]="selectedTab">
      <mat-tab label="Prospect Details" [disabled]="isCreateMode"></mat-tab>
      <mat-tab label="Loan Details"></mat-tab>
      <mat-tab label="Individual"></mat-tab>
      <mat-tab label="Non-Individual" *ngIf="prospectType=='Non Individual'"></mat-tab>
      <mat-tab label="Guarantor 1"></mat-tab>
      <mat-tab label="Guarantor 2">
        <div class="gaurantor-details-box my-3">
          <form class="gaurantor-details-form" [formGroup]="guarantor2Form">
            <div class="row d-flex gy-2">
              <div class="col-12 col-lg-4">
                <label>Lead Number<span class="text-danger">*</span></label>
                <input placeholder="Enter Lead Number" type="text
            " class="form-control mt-2" formControlName="leadNumber" oninput="this.value = this.value.toUpperCase()"
                  [readOnly]="true" />

                <span class="massage-text" *ngIf="
                    (guarantor2Form.get('leadNumber')?.touched ||
                      isSubmitted) &&
                    guarantor2Form.get('leadNumber')?.hasError('required') 
                  ">Lead Number is required</span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Vehicle Number<span class="text-danger">*</span></label>
                <input placeholder="Enter Vehicle Number" type="text" class="form-control mt-2"
                  formControlName="vehicleNumber" oninput="this.value = this.value.toUpperCase()" [readOnly]="true"
                  [readOnly]="true" />

                <span class="massage-text" *ngIf="
                    (guarantor2Form.get('vehicleNumber')?.touched ||
                      isSubmitted) &&
                    guarantor2Form.get('vehicleNumber')?.hasError('required')
                  ">Vehicle Number is required</span>
              </div>
            </div>
          </form>
        </div>
        <div class="gaurantor-details-box my-3">
          <form class="gaurantor-details-form" [formGroup]="guarantor2DetailsForm">
            <caption>
              Guarantor-2 Details
            </caption>

            <div class="row d-flex gy-2">
              <div class="col-12 col-lg-4">
                <label>Guarantor Name<span class="text-danger">*</span></label>
                <input placeholder="Enter the Name " type="text" class="form-control mt-2"
                  formControlName="guarantorName" />

                <span class="massage-text" *ngIf="
                    (guarantor2DetailsForm.get('guarantorName')?.touched ||
                      isSubmitted) &&
                    guarantor2DetailsForm
                      .get('guarantorName')
                      ?.hasError('required')
                  ">Guarantor Name is required</span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Relationship<span class="text-danger">*</span></label>
                <select class="form-select mt-2" formControlName="relationship">
                  <option value="" disabled>--Select--</option>
                  <option *ngFor="let c of guarantorRelationshipLookup" [value]="c.lookupValueId">
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
                <span class="massage-text" *ngIf="
                    (guarantor2DetailsForm.get('relationship')?.touched ||
                      isSubmitted) &&
                    guarantor2DetailsForm
                      .get('relationship')
                      ?.hasError('required')
                  ">Relationship is required</span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Gender<span class="text-danger">*</span></label>
                <select class="form-select mt-2" formControlName="gender">
                  <option value="" disabled>--Select--</option>
                  <option *ngFor="let c of genderLookup" [value]="c.lookupValueId">
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
                <span class="massage-text" *ngIf="
                    (guarantor2DetailsForm.get('gender')?.touched ||
                      isSubmitted) &&
                    guarantor2DetailsForm.get('gender')?.hasError('required')
                  ">Gender is required</span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Date Of Birth<span class="text-danger">*</span></label>
                <input type="date" class="form-control mt-2" formControlName="dateOfBirth" />

                <span class="massage-text" *ngIf="
                    (guarantor2DetailsForm.get('dateOfBirth')?.touched ||
                      isSubmitted) &&
                    guarantor2DetailsForm
                      .get('dateOfBirth')
                      ?.hasError('required')
                  ">Date Of Birth is required</span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Mobile Number<span class="text-danger">*</span></label>
                <input type="text" class="form-control mt-2" placeholder="Enter Mobile Number"
                  formControlName="mobileNumber" [min]="0" />
                <span class="massage-text" *ngIf="
                    (guarantor2DetailsForm.get('mobileNumber')?.touched ||
                      isSubmitted) &&
                    guarantor2DetailsForm
                      .get('mobileNumber')
                      ?.hasError('required')
                  ">Mobile Number is required</span>
                <span class="massage-text" *ngIf="guarantor2DetailsForm.controls.mobileNumber.errors?.pattern">
                  Please enter a valid 10-digit mobile number
                </span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Alternate Mobile Number</label>
                <input type="text" class="form-control mt-2" placeholder="Enter Mobile Number"
                  formControlName="alternateMobileNumber" />
                <span class="massage-text" *ngIf="guarantor2DetailsForm.controls.alternateMobileNumber.errors?.pattern">
                  Please enter a valid 10-digit mobile number
                </span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Guarantor Amount<span class="text-danger">*</span></label>
                <input type="number" class="form-control mt-2" placeholder="Guarantor Amount"
                  formControlName="guarantorAmount" [min]="0" />
                <span class="massage-text" *ngIf="
                    (guarantor2DetailsForm.get('guarantorAmount')?.touched ||
                      isSubmitted) &&
                    guarantor2DetailsForm
                      .get('guarantorAmount')
                      ?.hasError('required')
                  ">Guarantor Amount is required</span>
                <span class="massage-text" *ngIf=" 
                  guarantor2DetailsForm.get('guarantorAmount')?.touched &&
                  guarantor2DetailsForm.get('guarantorAmount').errors &&
                  !guarantor2DetailsForm.get('guarantorAmount').errors?.['validGuarantorAmount'] ">The
                  Guarantor Amount should not be more than the Loan Amount.</span>
              </div>
            </div>
          </form>
        </div>
        <div class="gaurantor-details-box my-3">
          <form class="gaurantor-details-form" [formGroup]="guarantor2CommunicationAddressForm">
            <caption>
              Communication Address
            </caption>
            <div class="row d-flex gy-2">
              <div class="col-12 col-lg-4">
                <input placeholder="Address Line 1 " type="text" class="form-control mt-2"
                  formControlName="addressLine1" />
              </div>
              <div class="col-12 col-lg-4">
                <input placeholder="Address Line 2 " type="text" class="form-control mt-2"
                  formControlName="addressLine2" />
              </div>
              <div class="col-12 col-lg-4">
                <input placeholder="Landmark " type="text" class="form-control mt-2" formControlName="landmark" />
              </div>
              <div class="col-12 col-lg-4">
                <input placeholder="City " type="text" class="form-control mt-2" formControlName="city" />
              </div>
              <div class="col-12 col-lg-4">
                <select class="form-select mt-2" formControlName="state">
                  <option value="" disabled>Choose State</option>
                  <option *ngFor="let c of stateLookup" [value]="c.lookupValueId">
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-lg-4">
                <select class="form-select mt-2" formControlName="country">
                  <option value="" disabled>Choose Country</option>
                  <option *ngFor="let c of countryLookup" [value]="c.lookupValueId">
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-lg-4">
                <input type="text" class="form-control mt-2" placeholder="Pincode" formControlName="pincode" />
              </div>
            </div>
          </form>
          <form class="gaurantor-details-form my-3" [formGroup]="guarantor2PermanentAddressForm">
            <caption>
              Permanent Address
            </caption>
            <div class="d-flex align-items-center mb-3 Address-text">
              <input type="checkbox" style="width: 20px; height: 20px" class="me-2 p-0 my-0"
                (change)="copyCommunicationAddress($event)" />Enter Permanent Address
              As Same
            </div>
            <div class="row d-flex gy-2">
              <div class="col-12 col-lg-4">
                <input placeholder="Address Line 1 " type="text" class="form-control mt-2"
                  formControlName="addressLine1" />
              </div>
              <div class="col-12 col-lg-4">
                <input placeholder="Address Line 2 " type="text" class="form-control mt-2"
                  formControlName="addressLine2" />
              </div>
              <div class="col-12 col-lg-4">
                <input placeholder="Landmark " type="text" class="form-control mt-2" formControlName="landmark" />
              </div>
              <div class="col-12 col-lg-4">
                <input placeholder="City " type="text" class="form-control mt-2" formControlName="city" />
              </div>
              <div class="col-12 col-lg-4">
                <select class="form-select mt-2" formControlName="state">
                  <option value="" disabled>Choose State</option>
                  <option *ngFor="let c of stateLookup" [value]="c.lookupValueId">
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-lg-4">
                <select class="form-select mt-2" formControlName="country">
                  <option value="" disabled>Choose Country</option>
                  <option *ngFor="let c of countryLookup" [value]="c.lookupValueId">
                    {{ c.lookupValueDescription }}
                  </option>
                </select>
              </div>
              <div class="col-12 col-lg-4">
                <input type="text" class="form-control mt-2" placeholder="Pincode" formControlName="pincode" />
              </div>
            </div>
          </form>
        </div>
        <div class="gaurantor-details-box my-3">
          <form class="gaurantor-details-form" [formGroup]="guarantor2KYCForm">
            <caption>
              Guarantor-2 KYC Upload
            </caption>
            <div class="row d-flex gy-2">
              <div class="col-12 col-lg-4">
                <label>Aadhar Number<span class="text-danger">*</span></label>
                <input placeholder="Enter Aadhar Number" type="text" class="form-control mt-2"
                  formControlName="aadharNumber" />
                <span class="massage-text" *ngIf="
                    (guarantor2KYCForm.get('aadharNumber')?.touched ||
                      isSubmitted) &&
                    guarantor2KYCForm.get('aadharNumber')?.hasError('required')
                  ">Aadhar Number is required</span>
                    <span class="massage-text" *ngIf="guarantor2KYCForm.get('aadharNumber')?.errors?.pattern">
                      Please enter a valid 12 digit aadhar number
                    </span>
              </div>
              <div class="col-12 col-lg-4">
                <label>PAN Number<span class="text-danger">*</span></label>
                <input placeholder="Enter PAN Number " type="text" class="form-control mt-2"
                  formControlName="panNumber" />
                <span class="massage-text" *ngIf="
                    (guarantor2KYCForm.get('panNumber')?.touched ||
                      isSubmitted) &&
                    guarantor2KYCForm.get('panNumber')?.hasError('required')
                  ">PAN Number is required</span>
                   <span class="massage-text" *ngIf="guarantor2KYCForm.get('panNumber')?.errors?.pattern">
                    Please enter a valid 12 digit aadhar number
                  </span>
              </div>
              <div class="col-12 col-lg-4">
                <label>Guarantor Image<span class="text-danger">*</span></label>
                <input  type="file" class="form-control mt-2"
                  formControlName="guarantorImage" (change)="onGuarantorImageChange($event)" />
                <span class="massage-text" *ngIf="
                    (guarantor2KYCForm.get('guarantorImage')?.touched ||
                      isSubmitted) &&
                    guarantor2KYCForm
                      .get('guarantorImage')
                      ?.hasError('required')
                  ">Guarantor Image is required</span>
                <a target="blank" href="{{ guarantorImageFilePath }}" *ngIf="guarantorImageFilePath">Guarantor Image
                  Link</a>
              </div>
              <div class="col-12 col-lg-4">
                <label>Aadhar<span class="text-danger">*</span></label>
                <input placeholder="Address Line 2 " type="file" class="form-control mt-2" formControlName="aadharImage"
                  (change)="onAadharImageChange($event)" />
                <span class="massage-text" *ngIf="
                    (guarantor2KYCForm.get('aadharImage')?.touched ||
                      isSubmitted) &&
                    guarantor2KYCForm.get('aadharImage')?.hasError('required')
                  ">Aadhar is required</span>
                <a target="blank" href="{{ aadharImageFilePath }}" *ngIf="aadharImageFilePath">Aadhar Image Link</a>
              </div>
              <div class="col-12 col-lg-4">
                <label>PAN<span class="text-danger">*</span></label>
                <input placeholder="Address Line 2 " type="file" class="form-control mt-2" formControlName="panImage"
                  (change)="onPanImageChange($event)" />
                <span class="massage-text" *ngIf="
                    (guarantor2KYCForm.get('panImage')?.touched ||
                      isSubmitted) &&
                    guarantor2KYCForm.get('panImage')?.hasError('required')
                  ">PAN is required</span>
              </div>
              <a target="blank" href="{{ panNumberImageFilePath }}" *ngIf="panNumberImageFilePath">PAN Image Link</a>
            </div>
          </form>
        </div>
        <div class="d-flex align-items-center justify-content-end flex-wrap gap-3 py-4">
          <button class="option-button d-flex align-items-center" [disabled]="buttonDisabled" *ngIf="!buttonDisabled"
            (click)="save()">
            Save
          </button>
          <button class="option-button d-flex align-items-center" (click)="back()">
            Back
          </button>
          <button class="option-button d-flex align-items-center" (click)="skip()">
            Skip
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>