
<div class="content-box pt-2">
  <div class="container">
    <div class="gaurantor-details-box">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none">Lead Generation</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Gaurantor-2
          </li>
        </ol>
      </nav>
    </div>
    <div class="gaurantor-details-box my-3">
      <form class="gaurantor-details-form">
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Lead Number</label>
            <input
              placeholder="Enter Lead Number"
              type="number"
              class="form-control my-2"
              formControlName="leadnumber"
            />

            <span class="massage-text">Lead Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Vehicle Number</label>
            <input
              placeholder="Enter Vehicle Number"
              type="number"
              class="form-control my-2"
              formControlName="vehicleNumber"
            />

            <span class="massage-text">Vehicle Number is required</span>
          </div>
        </div>
      </form>
    </div>
    <div class="gaurantor-details-box my-3">
      <form class="gaurantor-details-form">
        <caption>
          Guarantor-2
          Details
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Gurantor Name</label>
            <input
              placeholder="Enter the Name "
              type="text"
              class="form-control my-2"
              required
            />

            <span class="massage-text">Gurantor Name is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Relationship</label>
            <select class="form-select mt-2" required>
              <option>--Select--</option>
              <option>Father</option>
              <option>Mother</option>
              <option>Spouse</option>
              <option>Son</option>
              <option>Doughter</option>
              <option>Sister</option>
              <option>Brother</option>
              <option>Brother in Law</option>

            </select>
            <span class="massage-text">Relationship is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Gender</label>
            <select class="form-select mt-2" required>
              <option>--Select--</option>
              <option>Female</option>
              <option>Male</option>


            </select>
            <span class="massage-text">Gender is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Date Of Birth</label>
            <input
              type="date"
              class="form-control my-2"
              required
            />

            <span class="massage-text">Date Of Birth is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Mobile Number</label>
            <input
            type="number"
            class="form-control my-2"
            placeholder="Enter Mobile Number"
            required
          />
            <span class="massage-text">Mobile Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Alternate Mobile Number</label>
            <input
            type="number"
            class="form-control my-2"
            placeholder="Enter Mobile Number"
            required
          />

          </div>
          <div class="col-12 col-md-4">
            <label>Gurantor Amount</label>
            <input
            type="number"
            class="form-control my-2"
            placeholder="Gurantor Amount"
            required
          />
            <span class="massage-text">Gurantor Amount is required</span>
          </div>


        </div>
      </form>

    </div>
    <div class="gaurantor-details-box my-3">
      <form class="gaurantor-details-form">
        <caption>
          Communication Address
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <input
              placeholder="Address Line 1 "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              placeholder="Address Line 2 "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              placeholder="Landmark "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              placeholder="City "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <select class="form-select mt-2" required>
              <option>Choose State</option>
              <option>Andaman and nicobar island</option>

            </select>
            <span class="massage-text">State is required</span>
          </div>
          <div class="col-12 col-md-4">
            <select class="form-select mt-2" required>
              <option>Country</option>
              <option>India</option>
              <option>Male</option>


            </select>
            <span class="massage-text">Country is required</span>
          </div>
          <div class="col-12 col-md-4">

            <input
              type="number"
              class="form-control my-2"
              placeholder="Pincode"
              required
            />

            <span class="massage-text">Date Of Birth is required</span>
          </div>

        </div>
      </form>
      <form class="gaurantor-details-form my-3">
        <caption>
          Permanent Address
        </caption>
        <div class="d-flex align-items-center mb-3  Address-text">
          <input type="checkbox" style="width:20px;height:20px;" class="me-2 p-0 my-0">Enter Permanent Address As Same
        </div>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <input
              placeholder="Address Line 1 "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              placeholder="Address Line 2 "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              placeholder="Landmark "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <input
              placeholder="City "
              type="text"
              class="form-control my-2"
              required
            />
          </div>
          <div class="col-12 col-md-4">
            <select class="form-select mt-2" required>
              <option>Choose State</option>
              <option>Andaman and nicobar island</option>

            </select>
            <span class="massage-text">State is required</span>
          </div>
          <div class="col-12 col-md-4">
            <select class="form-select mt-2" required>
              <option>Country</option>
              <option>India</option>
              <option>Male</option>


            </select>
            <span class="massage-text">Country is required</span>
          </div>
          <div class="col-12 col-md-4">

            <input
              type="number"
              class="form-control my-2"
              placeholder="Pincode"
              required
            />

            <span class="massage-text">Date Of Birth is required</span>
          </div>

        </div>
      </form>

    </div>
    <div class="gaurantor-details-box my-3">
      <form class="gaurantor-details-form">
        <caption>
          Guarantor-2
          KYC Upload
        </caption>
        <div class="row d-flex">
          <div class="col-12 col-md-4">
            <label>Aadhar Number</label>
            <input
              placeholder="Enter the Aadhar "
              type="text"
              class="form-control my-2"
              required
            />
            <span class="massage-text">Aadhar Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>PAN Number</label>
            <input
              placeholder="Enter PAN Number "
              type="text"
              class="form-control my-2"
              required
            />
            <span class="massage-text">PAN Number is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Guarantor Image</label>
            <input
              placeholder="Address Line 2 "
              type="file"
              class="form-control my-2"
              required
            />
            <span class="massage-text">Guarantor Image is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Aadhar</label>
            <input
              placeholder="Address Line 2 "
              type="file"
              class="form-control my-2"
              required
            />
            <span class="massage-text">Aadhar is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>PAN</label>
            <input
              placeholder="Address Line 2 "
              type="file"
              class="form-control my-2"
              required
            />
            <span class="massage-text">PAN is required</span>
          </div>


        </div>
      </form>
      </div>
      <div
        class="d-flex align-items-center justify-content-end flex-wrap gap-3 py-4"
      >
      <button class="option-button d-flex align-items-center">Save</button>
        <button class="option-button d-flex align-items-center">Back</button>
        <button class="option-button d-flex align-items-center">Skip</button>

      </div>
  </div>
</div>
