<div class="content-box pt-2">
  <div class="container">
    <div class="asset-create-box my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a class="text-decoration-none" [routerLink]="['/admin/asset-master']">Asset Master</a></li>
          <li class="breadcrumb-item active" aria-current="page">Asset Create</li>
        </ol>
      </nav>
    </div>
    <div class="asset-create-box my-3">
      <form class="asset-create-form" [formGroup]="assetCreateForm">
        <caption class="d-flex">
          Asset
          Master
        </caption>
        <div class="row my-3">
          <div class="col-12 col-lg-4">
            <label>Asset Category Type</label>
            <select formControlName="assetCategoryType" class="form-select mt-2">
              <option>--select--</option>
              <option>CLASS</option>
              <option>MAKE</option>
              <option>TYPE</option>
              <option>MODEL</option>
            </select>
            <span class="massage-text" *ngIf="(assetCreateForm.get('assetCategoryType')?.touched || isSubmitted) && assetCreateForm.get('assetCategoryType')?.hasError('required')">Asset Category Type is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Asset Category Description </label>
            <input type="text" class="form-control mt-2" placeholder="Enter Asset Category Description" formControlName="assetCategoryDescription" />
            <span class="massage-text" *ngIf="(assetCreateForm.get('assetCategoryDescription')?.touched || isSubmitted) && assetCreateForm.get('assetCategoryDescription')?.hasError('required')">Asset Category Description is required</span>
          </div>
          <div class="col-12 col-lg-4">
            <label>Asset Code </label>
            <input type="number" class="form-control mt-2" placeholder="Enter Asset Code Description" formControlName="assetCode" />
          </div>
        </div>
      </form>
      <div class="d-flex align-items-center flex-wrap gap-3 my-4">
        <button class="option-button d-flex align-items-center px-4" (click)="save()">
          Save
        </button>
        <button class="option-button d-flex align-items-center px-4">
          Cancel
        </button>

      </div>
    </div>
  </div>
</div>
