<div class="content-box pt-2">
  <div class="container">
    <div class="global-parameter-box my-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item active d-flex align-items-center" aria-current="page"><mat-icon
              class="me-2">home</mat-icon>Global Parameter</li>
        </ol>
      </nav>
    </div>
    <div class="global-parameter-box my-3">
      <form class="global-parameter-form" [formGroup]="globalParameterForm">
        <caption class="d-flex">Global
          Parameter Setup</caption>
        <div class="row d-flex ">

          <div class="col-12 col-md-4">
            <label>Date Format</label>
            <input type="date" class="form-control mt-2" formControlName="dateFormat">
          </div>
          <div class="col-12 col-md-4">
            <label>Currency Name</label>
            <input type="text" class="form-control mt-2" formControlName="currencyName">
          </div>
          <div class="col-12 col-md-4">
            <label>Maximum Digits</label>
            <input type="number" class="form-control mt-2" formControlName="maximumDigits">
          </div>
          <div class="col-12 col-md-4">
            <label>Effective Date</label>
            <input type="date" class="form-control mt-2" formControlName="effectiveDate">
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Disable access after wrong password</label>
            <input type="password" class="form-control mt-2" formControlName="disableAccess">
            <!-- <span class="massage-text" ngClass>Effective is
            required</span> -->
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Minimum password length</label>
            <input type="password" class="form-control mt-2" formControlName="minPasswordLength">
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Password Re-cycle iteration</label>
            <input type="number" class="form-control mt-2" formControlName="passwordRecycleIteration">
          </div>
          <div class="col-12 col-md-4 d-flex flex-column gap-1">
            <label>Reset Password Days</label>
            <input type="number" class="form-control mt-2" formControlName="resetPasswordDays">
          </div>
          <div class="col-6 d-flex align-items-center mt-3">
            <label class="fs-6">Force password change</label>
            <input type="checkbox" class="ms-2" style="width:25px; height:25px; " formControlName="forcePasswordChange">
          </div>
          <div class="col-12 d-flex align-items-center mt-3">
            <label class="fs-6">Enforce initial change password</label>
            <input type="checkbox" class="ms-2" style="width:25px; height:25px; " formControlName="initialPasswordChange">
          </div>
          <div class="col-12 d-flex align-items-center justify-content-end">
            <button class="option-button d-flex align-items-center px-4">
              Back
            </button>
          </div>

        </div>

      </form>
    </div>

  </div>
</div>
