<div class="content-box pt-2">
  <div class="container">
    <div class="asset-create-box my-3">
      <form class="asset-create-form">
        <caption class="d-flex">
            Asset 
            Master
        </caption>
        <div class="row my-3">
          <div class="col-12 col-md-4">
            <label>Asset Category Type</label>
            <select formControlName="gender" class="form-select mt-2">
              <option>--select--</option>
              <option>CLASS</option>
              <option>MAKE</option>
              <option>TYPE</option>
              <option>MODEL</option>
            </select>
            <span class="massage-text" ngClass>Asset Category Type is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Asset Category Description </label>
            <input
              type="text"
              class="form-control mt-2"
              placeholder="Enter Asset Code Description"
            />
            <span class="massage-text" ngClass>Asset Category Description is required</span>
          </div>
          <div class="col-12 col-md-4">
            <label>Asset Code </label>
            <input
              type="number"
              class="form-control mt-2"
              placeholder="Enter Asset Code Description"
            />
          </div>
        </div>
      </form>
      <div class="d-flex align-items-center flex-wrap gap-3 my-4">
        <button class="option-button d-flex align-items-center px-4">
          Save
        </button>
        <button class="option-button d-flex align-items-center px-4">
          Cancel
        </button>
    
      </div>
    </div>
  </div>
</div>
