<div class="content-box pt-2">
  <div class="container">
    <div class="tab-box d-flex align-items-center gap-2 my-3">
      <mat-icon>home</mat-icon><mat-icon>keyboard_arrow_right</mat-icon>Lead
      Generation
    </div>
    <div class="d-flex align-items-center gap-3">
      <button class="option-button d-flex align-items-center">
        Prospect-Details
      </button>
      <button class="option-button d-flex align-items-center">
        Loan-details
      </button>
      <button class="option-button d-flex align-items-center">
        Individual
      </button>
      <button class="option-button d-flex align-items-center">
        Non Individual
      </button>
      <button class="option-button d-flex align-items-center">
        Gurantor 1
      </button>
      <button class="option-button d-flex align-items-center">
        Gurantor 2
      </button>

    </div>
    <div class="prospect-details-box my-3">
        <form class="prospect-details-form">
            <caption class="d-flex">Prospect Details</caption>
            <div class="row d-flex ">
              <div class="col-12 col-md-3">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control my-1" required>
                <span class="massage-text">Mobile Number is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label>Adhar Number </label>
                <input type="number" class="form-control my-1" required>
                <span class="massage-text">Adhar Number is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label>PAN Number</label>
                <input type="number" class="form-control my-1" required>
                <span class="massage-text">PAN Number is required</span>
              </div>
              <div class="col-auto pt-2">
                <button class="next-button d-flex align-items-center  mt-4 px-4 rounded"> <mat-icon
                    class="d-flex align-items-center"
                    style="font-size: 14px"
                    >arrow_forward</mat-icon>Go</button>
              </div>
            </div>
      
          </form>
       </div>
       <div class="prospect-details-box my-3">
        <form class="prospect-details-form">
            <caption class="d-flex">Prospect Details</caption>
            <div class="row d-flex ">
              <div class="col-12 col-md-3">
                <label>Mobile Number</label>
                <input type="Number" class="form-control my-1"required>
                <span class="massage-text">Mobile Number is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label>Branch</label>
                <input type="text" class="form-control my-1" required>
                <span class="massage-text">Branch is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label >Lead Number</label>
                <input type="number" class="form-control my-1" required>
                <span class="massage-text">Lead Number is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label >Lead Date</label>
                <input type="number" class="form-control my-1" required>
                <span class="massage-text">Lead Date is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label>Lead Type</label>
                <input type="text" class="form-control my-1" required>
                <span class="massage-text">Lead Type is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label>Prospect Name</label>
                <input type="text" class="form-control my-1" required>
                <span class="massage-text">Prospect Name is required</span>
              </div>
              <div class="col-12 col-md-3">
                <label >Vehicle Number</label>
                <input type="number" class="form-control my-1" required>
                <span class="massage-text">Vehicle Number  is required </span>
              </div>
           
              <div class="col-12 col-md-3">
                <label >Prospect Type</label>
                <input type="text" class="form-control my-1" required>
                <span class="massage-text">Prospect Type  is required</span>
              </div>
           
            <div class="col-12 col-md-3">
                <label >Prospect Address</label>
                <textarea class="form-control my-2"  rows="3"></textarea>
                <span class="massage-text">Prospect Address  is required</span>
              </div>
              <div class="col-auto d-flex align-items-center justify-content-end">
              <button class="next-button  d-flex align-items-center px-4 rounded"> <mat-icon
                class="d-flex align-items-center"
                style="font-size: 14px"
                >add</mat-icon
              > Generate Lead</button>
            </div>
            </div>
          </form>
       </div>
  </div>
</div>
