:host {
  width: 100%;
  background-color: #f0f6ff;
  height: 100vh;
}



.content-box {
  width: calc(100% - 240px);
  margin-left: 240px;
  margin-top: 80px;

  // height: 100vh;
  .option-button {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #fff;
    background: linear-gradient(45deg, #173966, #1a4575);
    border: unset;
    padding: 5px 10px;
  }

  .user-managment-box {
    border: 1px solid #cfd9e8;
    border-radius: 5px;
    padding: 10px;

    .usermanagment-table {
      thead {
        tr {
          th {
            background-color: #173966;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #fff;
          }
        }
      }
      thead {
        td{
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          color: #173966;
        }
      }

    }
  }
}

@media only screen and (max-width: 540px) {
  .content-box {
    width: 100%;
    margin-left: 0;
    margin-top: 80px;
    .user-managment-box{
      overflow: scroll;
      .usermanagment-table {
        thead {
          tr {
            th {
              font-size: 12px;
              line-height: 18px;
            }
          }
        }
        thead {
          td{
            font-size: 12px;
            line-height: 18px;
          }
        }
  
      }
    }
  }
}