
<div class="content-box pt-2">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap gap-3">
            <button class="option-button d-flex align-items-center">
              Create
            </button>
            <button class="option-button d-flex align-items-center">
             Show All
            </button>
         
          </div>
          <div class="user-managment-box my-3">
            <table class="user-managment-table">
         
            </table>
          </div>
    </div>
</div>