
<div class="content-box pt-2">
    <div class="container">
        <div class="d-flex align-items-center flex-wrap gap-3">
            <button class="option-button d-flex align-items-center">
              Create
            </button>
            <button class="option-button d-flex align-items-center">
             Show All
            </button>
         
          </div>
          <div class="user-managment-box my-3">
            <table class="table table-bordered rounded usermanagment-table">
              <thead>
                <tr>
                  <th class="col">User Code</th>
                  <th class="col">	User Name</th>
                  <th class="col">Email ID</th>
                  <th class="col">Designation</th>
                  <th class="col">User Level</th>
                  <th class="col">View</th>
                  <th class="col">Modify</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>FOSDEMO</td>
                  <td>FOS DEMO User</td>
                  <td>fosdemoascentya.in</td>
                  <td>SysAdmin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                </tr>
                <tr>
                  <td>FOSDEMO</td>
                  <td>FOS DEMO User</td>
                  <td>fosdemoascentya.in</td>
                  <td>SysAdmin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                </tr>
                <tr>
                  <td>FOSDEMO</td>
                  <td>FOS DEMO User</td>
                  <td>fosdemoascentya.in</td>
                  <td>SysAdmin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                </tr>
                <tr>
                  <td>FOSDEMO</td>
                  <td>FOS DEMO User</td>
                  <td>fosdemoascentya.in</td>
                  <td>SysAdmin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                  <td>System Admin</td>
                </tr>

              </tbody>
            </table>
          </div>
    </div>
</div>