:host {
  width: 100%;
}



.content-box {
    width: calc(100% - 300px);
    margin-left: 300px;
    margin-top: 80px;

    .company-master-box {
        border: 1px solid var(--border-color);
        border-radius: 5px;
        padding: 10px;
        .breadcrumb{
          li{
          color: var(--text-color);
        }
        }
        .company-master-form {
            caption {
                font-size: 20px;
                color: var(--text-bold-color);
                padding-top: 0;
                line-height: 28px;
                font-weight: 600;
            }

            label,
            input {
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color:var(--text-color);

            }

            input {
                border: 1px solid var(--input-border);
                background-color:var(--input-background);
                border-radius: 5px;
                &:focus {
                  box-shadow: 0px 2px 6px 0px #173662;
                }
            }
            textarea{
                border-radius: 5px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color: #173662;
            }

            select {
                border: 1px solid var(--input-border);
                background-color:var(--input-background);
                border-radius: 5px;
                font-size: 14px;
                line-height: 18px;
                font-weight: 400;
                color:var(--text-dark);

                option {
                    font-size: 14px;
                    line-height: 18px;
                    font-weight: 400;
                }
                &:focus {
                  box-shadow: 0px 2px 6px 0px #173662;
                }
            }


            .massage-text {
                color: #f7811e;
                font-size: 12px;
                line-height: 18px;
                font-weight: 400;
                margin-bottom: 15px;
                display: inline-bVCBNlock;
            }



        }
    }

    .addimage-icon {
        font-size: 100px;
        width: 100px;
        height: 100px;
        color: var(--text-color);
    }
    .file-input{
            background-color: initial;
            border: none;
            color: transparent;
    }

}
.back-button{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    background: #f7811e;
    color: var( --text-color);
    border: unset;
    padding: 5px 10px;
}
@media only screen and (max-width: 992px) {
    .content-box {
        width:100%;
        margin-left: 0;
        margin-top: 80px;
}
}
