<div class="content-box pt-2">
  <div class="container">
    <div class="user-create-box my-3">
        <form class="user-create-form">
          <caption class="d-flex">User 
            Management</caption>
          <div class="row d-flex ">
            <div class="col-12 col-md-4">
              <label>User ID*</label>
              <input type="number" class="form-control mt-2" placeholder="Enter the User ID">
                <span class="massage-text" ngClass> User ID is
                  required</span>
            </div>
            <div class="col-12 col-md-4">
                <label>User Name</label>
                <input type="text" class="form-control mt-2" placeholder="Enter the User Name">
                  <span class="massage-text" ngClass> User Name is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Gender*</label>
                    <select formControlName="gender" class="form-select mt-2">
                        <option>Male</option>
                        <option>Female</option>
                      </select>
                    <span class="massage-text">Gender is required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Password*</label>
                <input type="password" class="form-control mt-2" placeholder="Enter the Password">
                  <span class="massage-text" ngClass> Password is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Moblie Number*</label>
                <input type="number" class="form-control mt-2" placeholder="Enter the User ID">
                  <span class="massage-text" ngClass> Moblie Number* is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Emergency Contact Number*
                </label>
                <input type="number" class="form-control mt-2" placeholder="Enter Emergency Contact Number*
                ">
                  <span class="massage-text" ngClass> Emergency Contact Number*
                    is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Emergency Person Name</label>
                <input type="text" class="form-control mt-2" placeholder="Enter Emergency Person Name">
                  <!-- <span class="massage-text" ngClass>Emergency Person Name is
                    required</span> -->
              </div>
              <div class="col-12 col-md-4">
                <label>Date of Joining*</label>
                <input type="date" class="form-control mt-2">
                  <span class="massage-text" ngClass>Date of Joining is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Designation*</label>
                    <select formControlName="gender" class="form-select mt-2">
                        <option>ACCOUNTS EXECUTIVE</option>
                        <option>ACCOUNTS MANAGER</option>
                        <option>ASSISTANT BRANCH MANAGER</option>
                        <option>ASSISTANT CLUSTER MANAGER</option>
                        <option>ASSISTANT MANAGER - DISBURSEMENT</option>
                        <option>ASSISTANT MANAGER - OPERATION</option>
                        <option>ASSISTANT MANAGER - RTO</option>
                        <option>BACK OFFICE EXECUTIVE</option>
                        <option>BRANCH CO-ORDINATOR</option>
                        <option>BRANCH MANAGER</option>
                        <option>BRANCH OPERATION EXECUTIVE</option>

                        <option>CLUSTER MANAGER</option>
                        <option>COMPANY SECRETARY</option>
                        <option>EXECUTIVE - ACCOUNTS</option>
                        <option>EXECUTIVE - OPERATION</option>
                        <option>FIELD EXECUTIVE</option>
                        <option>FINANCE ACCOUNTS</option>
                        <option>LEGAL MANAGER</option>
                        <option>MANAGER - CREDIT</option>
                        <option>MANAGER - DISBURSEMENT</option>
                        <option>MANAGER - IT</option>
                      </select>
                    <span class="massage-text">Gender is required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>User Level*</label>
                <select formControlName="gender" class="form-select mt-2">
                    <option>Manager</option>
                    <option>Officer level</option>
                    <option>Staff level</option>
                    <option>System Admin</option>
                    <option>Top Management</option>
                  </select>
                  <span class="massage-text" ngClass>User Level  is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Reporting - Next Level*</label>
                <input type="password" class="form-control mt-2" placeholder="--Select--">
                  <span class="massage-text" ngClass> Reporting - Next Level* is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>User Group</label>
                <select formControlName="gender" class="form-select mt-2">
                    <option>Admin</option>
                  </select>
                  <span class="massage-text" ngClass>User Group  is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Email ID*
                </label>
                <input type="email" class="form-control mt-2" placeholder="Enter the Email*
                ">
                  <span class="massage-text" ngClass> Email
                    is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Date of birth*</label>
                <input type="date" class="form-control mt-2">
                  <span class="massage-text" ngClass>Date of birth* is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Age</label>
                <input type="text" class="form-control mt-2" placeholder="age">
                  <span class="massage-text" ngClass>Age is
                    required</span>
              </div>
          </div>
  
        </form>
      </div>
      <div class="user-create-box my-3">
        <form class="user-create-form">
          <caption class="d-flex">Personal 
            Details</caption>
          <div class="row d-flex ">
            <div class="col-12 col-md-4">
              <label>Father Name*</label>
              <input type="text" class="form-control mt-2" placeholder="Enter the Father Name">
                <span class="massage-text" ngClass> Father Name is
                  required</span>
            </div>
            <div class="col-12 col-md-4">
                <label>Mother Name</label>
                <input type="text" class="form-control mt-2" placeholder="Enter the Mother Name">
                  <span class="massage-text" ngClass> Mother Name is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Marital Status</label>
                    <select formControlName="gender" class="form-select mt-2">
                        <option>Single</option>
                        <option>Married</option>
                        <option>Seperated</option>
                        <option>Divorced</option>
                      </select>
                    <span class="massage-text">Marital Status is required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>Aadhar Number*</label>
                <input type="password" class="form-control mt-2" placeholder="Enter Aadhar Number">
                  <span class="massage-text" ngClass> Aadhar Number is
                    required</span>
              </div>
              <div class="col-12 col-md-4">
                <label>PAN Number*</label>
                <input type="number" class="form-control mt-2" placeholder="Enter PAN Number">
                  <span class="massage-text" ngClass> PAN Number is
                    required</span>
              </div>
           
          </div>
  
        </form>
      </div>
      <div class="row mb-4">
        <div class="col-12 d-flex flex-column gap-1">
            <mat-icon class="addimage-icon">add_a_photo</mat-icon>
            <input type="file"class="file-input" >
        </div>
        <div class="button-box col-12 d-flex flex-row justify-content-end gap-1 flex-wrap">
            <button class="save-button col-12 col-md-1 px-4">Save</button>
            <button class="back-button px-4 col-12 col-md-1">Back</button>
        </div>
      </div>
  </div>
</div>
