<div class="content-box pt-2">
  <div class="container">
  <div class="document-master-box">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item active d-flex align-items-center" aria-current="page"><mat-icon class="me-2">home</mat-icon>Document
          Master</li>
      </ol>
      </nav>
  </div>
    <div class="document-master-box my-3">
      <form class="document-master-form" [formGroup]="documentMasterForm">
        <caption class="d-flex">
          Document
          Master
        </caption>
        <div class="row my-3">

          <div class="col-12 col-md-4">
            <label>Category Description</label>
            <input type="text" class="form-control mt-2" placeholder="Enter Category Description" formControlName="categoryDescription" />
            <span class="massage-text"  *ngIf="documentMasterForm.get('categoryDescription')?.touched && documentMasterForm.get('categoryDescription')?.hasError('required')"> Category Description is required</span>
          </div>
        </div>
      </form>
      <div class="d-flex align-items-center flex-wrap gap-3 my-4">
        <button class="option-button d-flex align-items-center px-4">
          Search
        </button>
        <button class="option-button d-flex align-items-center px-4">
          Clear
        </button>
        <button class="option-button d-flex align-items-center px-4">
          Create
        </button>
      </div>
      <table class="table table-bordered rounded document-master-table ">
        <thead>
          <tr>
            <th class="col-1">sr no</th>
            <th class="col">Category Description</th>
            <th class="col">active</th>
            <th class="col">View</th>
            <th class="col">Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Individual Corporate Employee</td>
            <td><input type="checkbox"></td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
          <tr>
            <td>1</td>
            <td>Individual Corporate Employee</td>
            <td><input type="checkbox"></td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
           <tr>
            <td>1</td>
            <td>Individual Corporate Employee</td>
            <td><input type="checkbox"></td>
            <td><mat-icon>search</mat-icon></td>
            <td><mat-icon>create</mat-icon></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
